[2016-04-01 18:45] jeremija opened #1 "Video doesn't start on Android when not using WiFi"
Figure out a way how to start it, preferably on touch event because that seems to work.

[2016-04-01 18:46] jeremija opened #2 "P2P connection fails on Android when not using WiFi"

[2016-04-02 00:18] jeremija commented on #1
Hopefully fixed since d71e9b64

[2016-04-02 00:18] #1 closed

[2016-04-02 00:20] jeremija commented on #2
This was probably an issue with the firewall within the network the test was performed in.

[2016-04-02 00:20] #2 closed

[2016-04-02 00:20] jeremija opened #3 "Display alerts when users have disabled media access"

[2016-04-02 00:21] jeremija opened #4 "Show a menu bar"
It should contain:
- LEAVE button
- SHARE button

It should be dispayed on hover and hidden automatically after a timeout.

[2016-04-02 00:22] jeremija opened #5 "Add nicknames"

[2016-04-03 12:40] jeremija opened #6 "Display recommended browsers on the front page"
The only browser used to test the app was Google Chrome. Tested to work on Android too. Doesn't work on iOS.

[2016-04-03 12:41] jeremija opened #7 "Show an alert when user tries to join a call with incompatible browser"

[2016-04-03 12:47] jeremija opened #8 "Display real time notifications"
The notifications should:

- have three types (info, warning & error) and change colors
- time out and disappear
- stack on top of each other (the newest ones should be at the top)
- potentially we should only show max x notifications to prevent screen clutter

[2016-04-03 12:48] jeremija opened #9 "Show Join Call button instead of connecting immediatelly"
This would prevent confusion if the user does not expect to end up in a call immediatelly after clicking a link.

[2016-04-03 12:49] jeremija opened #10 "Add send email functionality when creating calls"

[2016-04-03 12:49] jeremija opened #11 "Add CONTRIBUTING.md"

[2016-04-03 15:36] jeremija opened #12 "Add a chat interface"
There could be a hotkey/button which displays an input box, or a whole new chat interface.

The chat messages should be sent to all participants through a P2P connection, not websockets.

The chat messages should be displayed in notifications as well.

Chat should work even if the browser doesn't have support for `getUserMedia`.

[2016-04-03 15:39] jeremija opened #13 "Wrap all access to window object through a module"
This makes it easy to mock the `window` object and unit test modules that use it.

[2016-04-03 18:04] jeremija commented on #11
Resolved as of 34ffc8510a22ccd688d1a34734773e092f7ed797.

[2016-04-03 18:04] #11 closed

[2016-04-03 18:06] jeremija opened #14 "Implement an alert interface"

[2016-04-03 18:07] jeremija commented on #3
Blocked by #14.

[2016-04-03 18:07] jeremija commented on #7
Blocked by #14.

[2016-04-04 01:28] jeremija opened #15 "Add documentation generation script (docco)"

[2016-04-04 01:29] jeremija opened #16 "Improve documentation"

[2016-04-04 22:02] jeremija opened #17 "Increase test coverage"

[2016-04-04 22:06] jeremija opened #18 "Make use of express.Router (split app.js)"

[2016-04-04 23:31] #8 closed

[2016-04-04 23:32] jeremija commented on #14
Implemented now.

[2016-04-04 23:32] #14 closed

[2016-04-05 11:26] jeremija opened #19 "Add a screenshot to README.md"
Hosted from imgur.com

[2016-04-10 17:02] khalaharvi commented on #18
I'm working on adding Express.Router.

[2016-04-10 17:03] Iula79 commented on #9
I'm going to try to work on this issue. :)

[2016-04-10 17:06] mikehow1984 commented on #4
I'll work on this issue

[2016-04-10 17:41] mzutshi commented on #7
I'm going to work on this.

[2016-04-10 18:00] khalaharvi commented on #12
Working on this issue

[2016-04-10 18:59] jeremija commented on #18
Thanks, @khalaharvi

[2016-04-10 18:59] #18 closed

[2016-05-07 09:37] eXqusic opened #23 "Could you add password access?"
Could you add password access so that you need to input a password to actually join the site? I use this with my girlfriend and would like to be able to only allow her to join it.

[2016-05-07 14:15] jeremija commented on #23
Hey, thanks for the comment! Yes, that's on my todo list. That and adding a "join" button, instead of joining the call immediately after opening the link. Have you noticed any issues with connectivity?

[2016-05-08 00:12] seiterseiter commented on #23
Nope its perfect! My girlfriend did say that its annoying how the video is reversed haha but it doesnt really matter

[2016-06-02 23:58] trivett opened #24 "Share button to send link via email/sms/twitter/etc"
Hello all. Just discovered this project. My first impulse after I tried it out was to look for a place to share the room with someone else.

Please +1 if you like that idea and I will start working on it!

[2016-06-03 13:09] jeremija commented on #24
Hey @trivett - thank you for your interest! Right now you can share it by just copying the link to clipboard, but feel free to add the buttons!

The one thing I'd ask is to also write unit tests for the new functionality if there will be any logic involved.

[2016-09-08 00:01] fredhampton opened #25 "running peer-calls as localhost with invite codes"
I very much like peer-calls and I m wondering if its possible to run the app locally as localhost and if so will the url invite work ?

[2016-09-08 00:15] jeremija commented on #25
You can run it locally, but keep in mind that video calling via WebRTC requires HTTPS, so you would need to start the https web server instead of http (a few lines would need to be changed), and you'd also need a valid certificate to prevent warnings about invalid certs.

[2016-09-27 20:45] visorq opened #26 "How can I resolve the conference preview to people without a camera and microphone?"
that it needs to change in the code?
![screenshot_3](https://cloud.githubusercontent.com/assets/2658720/18891296/73ed6cb2-8526-11e6-9481-abc23a0a4309.jpg)

[2016-11-15 05:33] thomastthai commented on #26
I ran into the same issue. I THINK it is because you are using http instead of https protocol. I remember reading about Google wanting WebRTC to be under https. In looking at the node scripts, I only see http not https for peer-calls.

[2016-11-16 23:14] MrDarkSkil opened #27 "Connected to peer failed"
I tryed to install peer call to my server, it's work but when i join a call, peer connection fail :/

Look at bellow picture

![Image of peer fail](https://i.gyazo.com/1f0b1c40853889d03a971e825f207ff9.jpg)

[2016-11-20 02:09] jeremija commented on #27
Unfortunately I don't think I can help you with this - does it work when you use peercalls.com? I noticed that sometimes corporate firewalls block connections. For example, when I'm at work I can establish a connection between my phone and a PC if they're on the same network, however it doesn't work when I try to reach out to somebody outside of the network, whereas if I'm at home everything works

[2016-11-20 02:12] jeremija commented on #26
@thomastthai is right that WebRTC requires https, @visorq it should work if you access the server via localhost if that's the issue.

[2016-11-20 04:09] MrDarkSkil commented on #27
With peercalls.com it's work.
But locally peer to peer connexion failed :/

I probably forget a file to configure the HPPS, can you tel me what file i need to edit for configure the HTTPS.

I edited /src/server/app.js file for configure the HTTPS.

[2016-11-20 06:22] matikbird commented on #27
What did you edit in that file, MrDarkSkil?
Could you share the code?

[2016-11-20 13:50] MrDarkSkil commented on #27
File: src/server/app.js

<pre>
#!/usr/bin/env node
'use strict';
var express = require('express');
var handleSocket = require('./socket.js');
var os = require('os');
var path = require('path');
var https = require('https');
var fs = require('fs');

// Require in express.Router Middleware.
var callRouter = require('./routes/call');
var siteRouter = require('./routes/index');

var app = express();

[2016-11-20 18:12] matikbird commented on #27
I'm running into the same problem.
I had set up an HTTPS connection,
but the call always seems lost.

In peer-calls.com works. I can add as many tabs-browser as I want, and all of them work with my ugly face showing.
In my server, only I see myself; but the rest of myselves (!) are nowhere. They got lost in translation or something.
Look here: http://mrkapl.science:3000

[2016-11-20 18:26] MrDarkSkil commented on #27
@jeremija can you give the peer-call.com source (without ssl file of course) ?

[2016-11-20 18:27] thomastthai commented on #26
I ended up switching to SimpleWebRTC and running behind HTTPS and had no issues. Their node / express set up worked out of the box.

[2016-11-20 18:30] matikbird commented on #27
As you can see, I have two instances running in the same call; and yet, I only see myself.

![screenshot from 2016-11-20 15 29 04](https://cloud.githubusercontent.com/assets/12424545/20465184/2c704f96-af36-11e6-8e6b-466ea1ecc965.png)

[2016-11-20 18:32] matikbird commented on #27
But, if you look at peercalls.com, it totally works!
Why can this be happening, @jeremija?
Maybe you missed something in the last branch that you put into peer-calls.

By the way, amazing work. Really clever.
![screenshot from 2016-11-20 15 31 07](https://cloud.githubusercontent.com/assets/12424545/20465198/71aa29ce-af36-11e6-8cb1-59c8cd8a7993.png)

[2016-11-20 18:41] matikbird commented on #27
PD: The console error throws no errors, all calls made are working perfectly.
Why would this happen?
In my localhost, and my server, the same thing.
Maybe it's something in the core, @jeremija

[2016-11-20 18:44] matikbird commented on #19
Totally in.
We have to put a group of people together and let's take it!

[2016-11-20 18:49] matikbird commented on #27
But yes, @jeremija
Perhaps sharing the code of peercalls.com (without the SSL, like Mr said), and we test it out! (:

[2016-11-20 18:57] matikbird commented on #27
@MrDarkSkil he already did, per haps we are doing something wrong. or maybe something went wrong in the last merge.

PD100: I totally disabled my firewall and all, and the same..

[2016-11-20 19:15] matikbird opened #28 "Documentation"
I'm happy to write it down and make a pull-request after knowing the service (:

The documentation doesn't explain much, when something goes wrong, or the firewall rules, ...

[2016-11-21 01:04] jeremija commented on #27
To enable https in node natively, you'd have to use the `https` module similar in the manner mrdarkskill described. Check the https part int he docs [here][1].

In production I use nginx as a reverse proxy server for my peer calls. The app config you'd need looks something like this:

[code]

[1]: http://expressjs.com/en/api.html#app.listen

[2016-11-21 03:03] matikbird commented on #27
I did.
I have the PeerCalls with HTTPS up and running, @jeremija : https://mrkapl.science:3000

Check it out yourself. Open more than one tab in the same link.
Why? :(

[2016-11-21 14:17] matikbird commented on #27
Not what I meant, @jeremija
but thanks!

What I meant it's that only ONE can see how many users are connected to the peer; but only shows the video of myself. Not others.
Try it out yourself, above I left the link

[2016-11-21 18:33] matikbird commented on #27
[code]

What does this means, @jeremija ?
What are those IP's?
Tried to access them but refused me the attempt.

[2016-11-21 21:21] MrDarkSkil commented on #27
I installed ngnix and i configured https with your ngnix config ans he does't work 😠

I thinks to make https://simplewebrtc.com/ to integrate to my website because your system is so broken

[2016-11-21 23:22] matikbird commented on #27
Then fix it instead of being a bitch about it.
& to me, it seems far from broken when I go to peercalls.com

[2016-11-21 23:35] matikbird commented on #27
[code]

Maybe this could be the mistake?
What do you think, @jeremija ?
http://mrkapl.science:3000

[2016-11-22 01:50] jeremija commented on #27
@MrDarkSkil if you don't like this project, feel free to switch whatever whatever you feel competent using. i spent my free time to develop and it works for me, and for many other people; so you can either figure out what the problem is on your end and submit a pull request to fix it if you find out the code is to blame, or stop making inarticulate complaints.

@matikbird this is a list of stun an

[2016-11-22 01:50] #27 closed

[2016-11-22 05:52] matikbird opened #29 "No attempt to establish a peer to peer connection"
We were just talking about it in the other issue. @jeremija close up for a guy who has no idea what's like contributing to open source projects.

I just want to know how can I fixed,
What did you do in peercalls.com that works so well,

I had HTTPS set up,
Node.js aswell,
I checked STUN and TURN and did not understand so well the process of this.
Tried another ones and the same.

Thanks for anyone

[2016-11-22 08:46] MrDarkSkil commented on #29
If you want, this project work fine https://github.com/andyet/SimpleWebRTC

[2016-11-22 12:15] jeremija commented on #29
Your site is down. There could be a number of issues. What do the logs say? Do websocket connection established? Are the handshake signals sent?

For the last one you're basically looking for this line:
[code]

[2016-11-22 14:19] matikbird commented on #29
It's a whatever-site. I put it up just so anyone could help me track this issue, haha.
I'm sorry, it's up and running again, with PM2.

In the meanwhile, I was trying to make it work in my localhost.
[code]

Connected to server socket
Ready for connections
Connected users: 1
Connecting to peer...
Connected users: 2
Connecting to peer..

Clearly, it knows how many users are, so I'll take that as a

[2016-11-22 14:24] matikbird commented on #29
As a side note, I tried the project in a few VPS, and desktop's as well. All of them with the firewall OFF.

It might have something to do with the credentials, but if it works for you..
Have you tried downloading the repo now and do an ` npm install & npm start`
Dependences also might mess up with the config of PeerCalls. I tried downgrading Socket.IO and a few other dependences.

I will keep att

[2016-11-22 16:20] jeremija commented on #29
Thanks for bringing this to my attention. However it looks like the SocketIO library has changed the way `socket.id`s are assigned, thus no attempt was made to initiate the connection because the comparison would fall.

This should be fixed as of today (aa2f3f4). Check the commit message for additional info.

[2016-11-22 16:20] #29 closed

[2016-11-22 16:22] matikbird commented on #29
To make things easier when debugging, this is how it goes:
You enter the site, and it's all OK, but something it's failing in Socket.IO

![screenshot from 2016-11-22 13 16 23](https://cloud.githubusercontent.com/assets/12424545/20531764/819ba85e-b0b6-11e6-8864-6b58649259bb.png)

See those strange characters? **y``**
If we go to them, opening a new tab
![screenshot from 2016-11-22 13 18 37](https:/

[2016-11-22 16:22] matikbird commented on #29
Oh, I was about to say it was Socket.IO!
Haha, I'll try it out just now and give you a feedback, @jeremija (:

[2016-11-22 16:29] jeremija commented on #29
Those chars are fine, let me know if it works now.

[2016-11-22 17:09] matikbird commented on #29
Yeap, that fixed.
Just so you know and just so we're clear..
I really love you right now, haha. Worked like a charm.

Amazing work, @jeremija
I'll be more involved from now on.

[2016-12-07 20:19] mQckingbird opened #30 "Switch to back cam in Mobile"
My phone has two cameras.
One in the front, and other in the back; nothing crazy.

Though, I'd like to switch between the front camera to the back camera with just a button.
Is this possible?

[2016-12-07 22:06] jeremija commented on #30
IIRC firefox mobile lets you choose which camera to use. You'd need to use `mediaDevices.enumerateDevices` to get a list of cameras and then provide a way to change the stream. The library that's used for establishing the peer connection did not support dynamic switching of streams, meaning the user would have to reconnect (or refresh the page). I don't currently have the time to implement that bu

[2016-12-30 14:40] matikbird commented on #30
I'll checked and tried but nothing came up just yet 👎

[2016-12-30 14:47] matikbird commented on #30
By the way, in which files do you have the camera settings and all that so I can look further?

Help me out with that so I can contribute, I'm short in time as well, but I'll do my best

[2017-01-10 16:40] matikbird commented on #30
https://github.com/feross/simple-peer/issues/114#issuecomment-269812335

[2017-01-22 18:33] matikbird commented on #30
[https://github.com/feross/simple-peer/issues/114#issuecomment-269812335](https://github.com/feross/simple-peer/issues/114#issuecomment-269812335)

We would end-up refreshing everything anyways and load another code just to get this done. That seems pretty rough.

Any ideas, @jeremija?

[2017-02-28 02:04] fredhampton opened #31 "a different port ?"
Is there a way to change from port 3000 to a different port ?

Thanks

[2017-02-28 03:16] jeremija commented on #31
Yeah, just set the `PORT` environment variable:

```PORT=8080 npm start```

[2017-03-29 10:15] onel opened #32 "Issues with connections in Firefox"
I seem to have a problem with Firefox, locally and on peercalls.com
It only appears between Firefox and Chrome.

If Chrome is the first one in the session then Firefox joins, sometimes I get this error in FF `Could not get access to microphone & camera` and sometimes the connection is never finished.
But if FF is first then Chrome, everything works.

I'm on Ubuntu, with:
Chrome: 57
Firefox: 52

Ha

[2017-03-29 10:38] onel commented on #32
Ok, there seems to be a problem in firefox with starting the camera. I don't know if this is a driver issue.
The error in `getCameraStream` is: `{message:"Starting video failed", name:"InternalError"}`

[2017-03-29 11:31] jeremija commented on #32
Hi there, are you using Windows? I have the two browsers running simultaneously, one of them always disappears, but everything seems to work when I try it with two separate computers or computer & an android phone, or on my Linux box.

Unfortunately, I cannot reproduce the error you are getting (running Chrome 56 and FF 52).

[2017-03-29 19:26] onel commented on #32
Hey, thanks for the response.
So I did some testing today and it seems to be related to my pc. This is what I tried:
Same pc ubuntu:
Firefox -> Firefox: works
Firefox -> Chrome:  doesn't work
Chrome -> Chrome: works
Chrome -> Firefox: works
Different pcs, ubuntu and windows, everything works except Firefox -> Chrome.

So it seems that only Firefox has the issue with accessing my video and audio if

[2017-03-29 19:26] #32 closed

[2017-04-16 01:35] matikbird opened #33 "Integrate chat"
Hi!

If this repo can deploy a video from computer to computer,
where's the file I need to edit to pass text to make the videocall peer-to-peer more cool?

[2017-05-31 11:44] #31 closed

[2017-05-31 11:47] jeremija commented on #33
6bbabc1 added experimental (and ugly) chat feature via a peer connection. My plain is to add a full-fledged chat UI at some point, and to be able to switch between socket & peer connection for chat, just didn't have the time to do so.

[2017-06-01 16:45] ampc opened #34 "Adding turn servers"
Hello, first of all thank you for creating such a simple project to play with WebRTC.
 I have the following question regarding TURN servers. Should I add them in `config/default.json` or is there any other solution?

Currently my `default.json`  is :
[code]

[2017-06-01 20:28] jeremija commented on #34
As of ddb54a2, we are using [node-config][1], which means you can add create a `local.json` file to override the default configuration. There are other ways to [override the default configuration][2].

But what you wrote should also work. Note that the `url` is [deprecated][3], and you should use `urls` instead. In the default config there's both for backward compatibility.

[1]: https://github.co

[2017-06-01 20:29] jeremija opened #35 "Switch to redux"

[2017-06-01 20:30] jeremija opened #36 "Switch to pure components"

[2017-06-02 12:03] ampc commented on #34
OK,  I changed `url` to `urls` and it still didn't work on specific conditions (phone 4G + computer behind NAT firewall). Then I switched from Xirsys  to Twilio TURN servers and now it works. Thank you for the quick reply.

[2017-06-02 12:03] #34 closed

[2017-06-07 10:03] yarekc opened #37 "Many users room"
is this peer2peer (so limited to 6/8 max) or are the peers relayed ?

[2017-06-07 14:24] yarekc commented on #37
well that's a practical number of users since you directly stream to 6-8 users.
Ex: you cannot stream to 1000 users with webrtc directly: you need a SFU server for that.
suer1<------->SFU server with bandwidth<------->other users

[2017-06-07 15:05] jeremija commented on #37
You're right, the bandwidth usage would be too high as the user count grows. I currently have no resources to manage and maintain a SFU server, but it does sounds like a powerful solution (provided that the streams would still be encrypted and not readable from the server-side).

[2017-06-18 13:30] jeremija commented on #33
Closing as duplicate of #12

[2017-06-18 13:30] #33 closed

[2017-06-18 13:31] #28 closed

[2017-06-18 13:32] #25 closed

[2017-06-18 13:33] #3 closed

[2017-06-18 13:42] #26 closed

[2017-06-18 13:42] #36 closed

[2017-06-18 13:42] #13 closed

[2017-06-18 13:42] #17 closed

[2017-06-18 13:42] #35 closed

[2017-07-01 15:58] matikbird commented on #33
Just tell me where to start.
I'll go with mostly plain JavaScript, no CSS-preprocessors nor JS-preprocessors I'd use.

I get the idea by that code, and implement a socket-chat beside it won't hurt and since socket.io launched 2.0, it's very fast indeed and not hard at all.

[2017-07-04 14:44] jeremija opened #38 "Use Redis for storing WebSocket info on server-side"

[2017-07-04 14:45] jeremija opened #39 "Add support for browser Push API"
https://developer.mozilla.org/en-US/docs/Web/API/Push_API

[2017-08-14 22:10] utan opened #40 "Turn server config"
Hi, I installed Coturn server and username and password are incorrect, i get 401 in server logs,

While testing with Spreed-webrtc works fine..
How do I set up coturn or peercalls to work together?

Does peercall needs to hash the username, se this is what i got.

57: session 002000000000000003: realm domain.com> user <user>: incoming packet message processed, error 401: Unauthorised

[2017-08-15 00:52] jeremija commented on #40
Hi @utan, can you share the value of `iceServers` in your config? (please mask actual username/password)

[2017-08-15 01:07] utan commented on #40
I am away from my pc, but i am overwriting default peercall settings editing the default config..
My coturn server has the same realm and username set, but it wont accept it..

The username is sent in as set meanwhile spreed-webrtc sent like a hash as username...and same realm

[2017-08-15 01:16] utan commented on #40
57: session 006000000000000003: closed (2nd stage), user <1502742494:CeTSMai82npnusi4ortyuxJbDqZhXPcB4JszAISysi> realm <mydomain.com> origin <>, local ip#here, remote someip:29443, reason: TCP connection closed by client (callback

Thats the payload of spreed-webrtc to the coturn server, which spreed has the same plain realm and usrername as set in peercall..

[2017-08-15 01:21] jeremija commented on #40
Are you trying to use coturn's [--use-auth-secret][1] flaf?

If so, can you make sure that you have `auth: 'secret'` property set in your iceServer config?

1: https://github.com/coturn/coturn/blob/master/README.turnserver

[2017-08-15 01:21] utan commented on #40
Settings for my coturn Server, it is online but my testbed for peercall is at home in my computer.

 Run as TURN server only, all STUN requests will be ignored.
no-stun

# Specify listening port. Change to 80 or 443 to go around some strict NATs.
listening-port=8443
tls-listening-port=5349

# Specify listening IP, if not set then Coturn listens on all system IPs.
#listening-ip=12.34.56.78
#relay-i

[2017-08-15 01:26] utan commented on #40
Elaborate please, I am not using the setting u are asking me..
Should be set as u you suggested?

I will check for those options.. and enable them.

[2017-08-15 01:31] utan commented on #40
Do u want me to use the console to see its content?
I will be able to to see its content later late tonight pacific time..

[2017-08-15 02:00] utan commented on #40
I don't same lines but this ones in my Coturn server

 usercombo -> "timestamp:myuser"
 turn user -> usercombo
 turn password -> base64(hmac('mypassword', usercombo))

And set my usercombo content and mypassword in PeerCall default settings?

Does it look correct?

[2017-08-15 02:20] jeremija commented on #40
Try updating your config file to contain the following:

[code]

On Aug 14, 2017 10:00 PM, "Neumann Valle" <notifications@github.com> wrote:

I don't same lines but this ones in my Coturn server

usercombo -> "timestamp:myuser"
turn user -> usercombo
turn password -> base64(hmac('mypassword', usercombo))

And set my usercombo content and mypassword in PeerCall default settings?

Does it look corre

[2017-08-15 02:28] utan commented on #40
I am sorry, I am more confused, should I set the coturn server the way I discribed above and then setup  PeerCalls as ur previous reply?
I am new to this, and not as proficient as I thought I was..

[2017-08-15 06:49] utan commented on #40
Hi it's working now..

#for PeerCalls settings
fingerprint
lt-cred-mech
#single static user details for long-term authentication:
user=user-you-want-to-user:12352453256482331
#your domain here:
realm=domain.com

Found the answer at
https://stackoverflow.com/questions/26110412/is-long-term-credentials-authentication-mechanism-required-for-webrtc-to-wor

[2017-08-16 07:14] utan opened #41 "Cannot GET /peercalls/"
Hi, I am trying to run PeerCalls in my production server, in my testbed I was using a vhost with another FQD domain and it worked perfectly.. so https://domain.com worked ..

No that I want to run it as https://domains.com/peercalls I get,  Cannot GET /peercalls/
using port 7070 in PeerCalls

nginx settings

`upstream liveCam {
          ip_hash;
          server 127.0.0.1:7070 max_fails=0;
 }`

`

[2017-08-16 14:59] #40 closed

[2017-08-16 14:59] #41 closed

[2017-08-16 15:05] utan opened #42 "can't find socket.io path.."
Ubuntu server 14.04 , Node v8.4.0,
Setup proxy nginx as https://domain.com/peercalls

All is working except that socket.io  client can't fine the socket.io server at '/socket.io' can you please help with this..

`const io = require('socket.io')(http,{
  path : '/peercalls'
})`

Tried changing the path in socket.io but not to avail..

nginx settings as such,

`           proxy_pass http://liveCam;

[2017-08-16 15:24] utan commented on #42
Ho do you start debug for socket.io server or make it more verbose..

Oh boy, it's getting more complicated.

[2017-08-16 18:22] utan commented on #42
@jeremija what are you thoughts?

[2017-08-17 02:52] utan commented on #42
Thanks, anyways..

[2017-08-18 00:21] #42 closed

[2018-08-25 03:35] n2liquid opened #44 "Thoughts on Jitsi Meet?"
Hi folks. Just wanted to know if you know about Jitsi Meet and what your thoughts are on it. Peer Calls is really cool, but Jitsi Meet seems to do the same things and looks a lot more mature.

(Sorry I couldn't find a better place to ask you this.)

Thanks!

[2018-08-29 17:55] jeremija commented on #44
Hi @n2liquid - I do not have any comments on Jitsi Meet since I've never used it, but I see that it is an Atlassian product. Atlassian is a big company that had a [revenue][atl] of over 600 million dollars last year, whereas I wrote most of the Peer Calls code myself in my free time, so I'm not surprised if Jitsi Meet has more features 🙂

I currently do not have the time to build in new features i

[2018-08-29 23:52] n2liquid commented on #44
Yes, I like Peer Calls. Jitsi Meet is probably on the road to feature bloat. I don't know why it gets so many releases when it looks like such a simple, stable app. Peer Calls wins on that aspect, it looks like it just needs a slicker UI. I also feel like Jitsi Meet's dial-in feature is just inherently unsafe and shouldn't be there (unless it could be made safe), but I could be wrong...

Something

[2018-08-29 23:52] #44 closed

[2018-08-30 14:06] jeremija commented on #44
Thanks for your comments! One thing I've been meaning to add is file sharing. I've also been trying to keep the server-side as simple as possible so I do not need to run a database. But more advanced features would require user accounts support, and that would require adding a database.

I definitely agree that PeerCalls UI could be revamped 🙂

[2018-11-03 10:23] lil5 opened #45 "Request npm package"
It would be great to install on a server like [filepizza](https://www.npmjs.com/package/filepizza#installation) can:

[code]

[2018-11-03 10:46] lil5 commented on #44
https://file.pizza/ ([npm](https://www.npmjs.com/package/filepizza) pakage, [github](https://github.com/kern/filepizza) repo) is perfect for that. I'd prefer that it wouldn't be added and keep the unix philosophy.

[2018-11-03 15:52] lil5 opened #47 "Explain STUN server in README.md"
When looking threw the code I saw the a link to google:
https://github.com/jeremija/peer-calls/blob/fee565a4e35963cf56efbfc7542cfa74deaa5312/config/default.json#L4-5

Reading about STUN server I found out it that is only used to find out what the WAN IP is and does not pass any other information.
https://www.youtube.com/watch?v=JrxSDIJv5xs

It might be a good idea to explain it in the README.md

[2018-11-03 23:43] lil5 commented on #23
If you run a server yourself you could use a reverseproxy with auth
- nginx https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/
- apache2 https://httpd.apache.org/docs/2.4/howto/auth.html

[2018-11-04 00:37] lil5 opened #49 "package.json uses old version"

[2018-11-04 00:42] lil5 commented on #49
This could be fixed at pr #48 see https://github.com/jeremija/peer-calls/pull/48#issuecomment-435632322

[2018-11-07 10:07] jeremija commented on #47
We could add a link to this site maybe?

https://www.twilio.com/docs/stun-turn/faq

[2018-11-07 19:15] lil5 commented on #47
Looks good :+1:

[2018-11-09 00:00] lil5 commented on #16
How about this?

---

## Env Variables

name | default | info
---|---|---
**PORT** | `3000` | Port number
**NODE_CONFIG_DIR** | `./config` | Where your configuration file reside, a [`./config/default.json`](https://github.com/jeremija/peer-calls/blob/master/config/default.json) must exist

---

[2018-11-09 00:02] lil5 commented on #47
#16

[2018-11-13 16:09] lil5 commented on #49
peer-calls - npm - https://www.npmjs.com/package/peer-calls

Shows 2.0.6 while package.json still 2.0.5

[2018-11-14 05:48] lil5 commented on #49
I advice using `--tag beta` before publishing to stable. Npm doesn't allow version rewrites.

[2018-11-14 10:50] jeremija commented on #16
Sounds good! There is also the `config/custom-environment-variables.json` file that allows the users to specify the `baseUrl` and `iceServers` via `PEERCALLS_BASE_URL` and `PEERCALLS_ICE_SERVERS`. However, I do not think this will be read when peer-calls is installed as a module (whether a global or a local one) :(

[2018-11-14 11:23] lil5 commented on #16
A fix for that would be to add a `DOCUMENTATION.md` file but again breaking files usually causes users not reading it.

[2018-11-14 18:47] jeremija commented on #49
This is my bad. I think I published a package before pushing to GitHub, and then I realized you've done all that work already so I didn't want to discredit your pull request.

[2018-11-15 07:55] #49 closed

[2018-11-15 07:55] #45 closed

[2018-11-15 16:12] lil5 commented on #9
I like the lack of such (IMHO *useless*) GUI features

[2018-11-21 10:14] jeremija commented on #12
@excelwebzone There is currently a way to send a message using websockets via the input box on the bottom-left. The messages will show on the top right. Ideally, there would be a way to set nicknames, and the chat messages would also use WebRTC (and maybe fall back to websocket).

![image](https://user-images.githubusercontent.com/1489493/48834526-55720c80-ed7e-11e8-86a6-c428b2707773.png)

[2018-11-21 14:59] excelwebzone commented on #12
Right, I saw that.. do you have an estimate for it?

[2018-11-21 15:02] excelwebzone commented on #12
@jeremija are you open to help me with a small project? shoot me an email.. 👍

[2018-11-25 11:37] lil5 opened #51 "Add icons instead of unique ID"
https://www.npmjs.com/package/jdenticon (MIT)

[2018-11-25 11:39] lil5 commented on #51
https://jdenticon.com/ demo

[2018-11-27 03:00] excelwebzone opened #52 "Stream from Source to Map"
Add the ability to stream geolocation data for any of sources (participants), process them, and display it in a map.

[2018-12-05 10:09] jeremija opened #53 "Local video no longer muted"
After merging #50, I noticed that the local video is no longer muted, and this causes a feedback loop.

[2018-12-12 23:44] excelwebzone commented on #52
@jeremija I have 2 options I thought we can go with:
1. Just adding a simple icon on the chat that will post a map image (with link to Google Maps)
2. Add **map** link toggle on the chat (header) that will show shared location of all participants

[2018-12-12 23:51] excelwebzone commented on #52
Here is another simple example I found:

## Server

[code]

## Client

[code]

[2018-12-13 15:59] jeremija commented on #52
Hi @excelwebzone,

I believe [`geolocation.watchPosition`][geo] can be used instead of polling for location every two seconds.

Since the Google Maps API is purely a presentational layer, I would try to separate the concerns. Rather than creating the google map in the position handler, I'd keep the coordinates in the redux state, and create a React component that renders the map. This way we could

[2018-12-13 16:00] #53 closed

[2018-12-24 22:09] excelwebzone commented on #52
@jeremija I have started implementing this feature.. check https://github.com/excelwebzone/peer-calls/tree/map. I'd get an error when running application:

[code]

Can you see if you can figure it out before I create a PR.. Thanks.

[2018-12-24 22:10] excelwebzone commented on #52
Based on this article: https://www.scaledrone.com/blog/react-native-maps-tutorial-find-my-friends/

[2018-12-25 01:42] excelwebzone commented on #52
If we replace the `react-native` with `react-native-web` it will allows us to keep using **`ReactDOM`**, but we still need to figure the map piece.. please let me know. Thanks.

[2019-01-12 14:50] #52 closed

[2019-05-12 23:36] ham3r opened #58 "Invalid full-screen button behavior"
I found improper behavior of the fullscreen button in the toolbar. When it's pressed, button itself is stretched out, instead of the whole application window.

[2019-05-15 03:54] #58 closed

[2019-07-05 00:35] mdemarco1234 opened #60 "Regarding Apple Desktops & IPhones"
the streaming does not work on the MAC desktop.  Images are being streamed from a smartphone to a website on the MAC desktop but the streamed video is not appearing. Is there any solution for MAC's? Can it be fixed?

[2019-07-06 08:53] jeremija commented on #60
Hi @mdemarco1234,

Thanks for the bug report. I have a few questions:

1. Which browsers and versions are you using?

2. Just to clarify - you see the video on your mobile phone, but not on the Mac?

3. Have you granted camera access permissions for the browser and the website on your phone?

4. Are you testing this via peercalls.com, or using your own (local or remote) server?

[2019-07-06 17:23] mdemarco1234 commented on #60
Hi,

   1.     the android was using chrome that was live streaming but the mac pro and the ios devices were using the latest safari version on the market

   2.     chrome on the android or desktop works. meaning streaming and receiving

   3.     yep

   4.     used my own forked version.

   5.     the camera opened up on safari on the mac pro meaning you can see yourself when the button is act

[2019-07-07 03:03] jeremija commented on #60
Could you please try clicking on the icons that are dark in Safari? Safari seems to prevent multiple videos from autoplaying and they need to be manually clicked to start playing.

Also could you please test this on peercalls.com and let me know if you can reproduce the issue? I just pushed v2.0.8 which updated a lot of dependencies to more recent versions.

[2019-07-07 05:28] mdemarco1234 commented on #60
Sure.  Another question with the understanding there latencies  in streaming delivery are unavoidable as even facebook has freeze frame on their face time.  From the sender of the streaming's end, what type of connection  speed would assure the best delivery of streaming video in the minimal amt of time?  What other variables are in our playing field we can control to assure the most minimal deliv

[2019-07-08 01:55] mdemarco1234 commented on #60
Hi,

         It works.

    Thanks,

    Michael

________________________________
From: Jerko Steiner <notifications@github.com>
Sent: Saturday, July 6, 2019 8:03 PM
To: jeremija/peer-calls
Cc: mdemarco1234; Mention
Subject: Re: [jeremija/peer-calls] Regarding Apple Desktops & IPhones (#60)

Could you please try clicking on the icons that are dark in Safari? Safari seems to prevent multiple vide

[2019-07-08 04:25] #60 closed

[2019-07-08 04:26] jeremija opened #61 "Detect when a video fails to autoplay and alert the user"
Related to #60.

[2019-07-18 02:31] mdemarco1234 opened #62 "Question Regarding Performance"
How many users will the server application handle before performance degradation occurs? Does there ever need to be a load balancing solution in high volume use cases? What is the recommended hardware and software topology for high volume use cases? Additionally any recommended internet speeds to optimize performance and camera resolution metrics?

[2019-07-18 02:33] mdemarco1234 commented on #62
let me focus the last statement. What is the recommended camera resolution for an optimal visual experience?

[2019-08-05 06:42] ajpedhadiya opened #63 "To Running peer-calls demo in live server"
Demo run successfully but it display message like this in browser

Cannot GET /

[2019-09-17 12:12] jimver04 opened #64 "How to enable https instead of http?"
Hi,

I have installed your code it in Ubuntu 16.04 server successfully. The text conversation works well. But mic and camera is blocked by default as it is running in http mode but not https.

It is necessary to have it with SSL because the recent versions of Firefox and Chrome do not allow access to camera and microphone in http mode.

I already have replaced the cert.example.pem and key in confi

[2019-09-17 12:22] jeremija commented on #64
You need to set the path to the certificates in the config file. Have a look at the following file:

https://github.com/jeremija/peer-calls/blob/master/src/server/server.js#L9,L14

You can create a new file called `config/local.json` and set the paths there:

[code]

[2019-09-17 12:55] jimver04 commented on #64
Hey, it works ! You saved my day.
I wish this was written in the instructions Readme as I was struggling 2 hours.

D.

[2019-09-17 12:59] jeremija commented on #64
Create a pull request :) Glad I was able to help!

[2019-09-17 12:59] #64 closed

[2019-09-17 13:39] jimver04 opened #65 "Only Chrome to Chrome or Firefox to Firefox is feasible"
Firefox Laptop to Chrome Mobile is not feasible
I managed to connect between:
- Chrome at laptop and Chrome at mobile
- Chrome mobile and Chrome Mobile
- Firefox  Laptop and Firefox  mobile.

Server: Ubuntu 16.04
Laptop: Windows 10, Chrome 77, Firefox 69
Android 9: Chrome 76, Firefox 68

Best,
D.

[2019-11-17 13:58] jeremija commented on #61
Resolved in 67d9177

[2019-11-17 13:58] #61 closed

[2019-11-17 14:03] jeremija commented on #30
This should work since 0a40e72 (not in production yet). Users can now select audio and video input source before connecting. I still need to add the ability to show the configuration menu after connecting.

[2019-11-17 14:04] #12 closed

[2019-11-17 14:05] #9 closed

[2019-12-04 14:45] sah-anshu opened #67 "Cannot read property 'call' of undefined"
Hi,

When i run with localhost:3000 it works properly.
But when i Open on LAN IP to access the application on another PC.

BIND=192.168.1.4 npm start

[PeerCalls]04/12/2019, 20:12:22
Error: TypeError: Cannot read property 'call' of undefined

--
node v13.2.0
npm 6.13.1

Thanks in advance.

[2019-12-04 15:47] jeremija commented on #67
Hi @sah-anshu,

Thank you for reporting this. Could you post the stack trace too? I suspect this is because you are not using HTTPS and browsers will [block access to microphone and camera][cam].

You can try to enable HTTPS by using the pregenerated self-signed certificates for localhost (in config folder, see README), but then you would need to add an exception for the site in your browser.

[ca

[2020-03-02 09:08] phuongnguyen2511 opened #68 "Not run server"
Can you guide me to upload it to the server?

[2020-03-02 09:34] jeremija commented on #68
Hi there. Unfortunately, I do not have the time to provide on-site support for PeerCalls for free. The [README.md](https://github.com/jeremija/peer-calls/blob/master/README.md) file is pretty thorough and should help you get started. If you have any specific questions, please open a new issue. Thanks for understanding.

[2020-03-02 09:34] #68 closed

[2020-03-03 02:44] phuongnguyen2511 opened #69 "Disconnect server???"
Sorry for bothering, but I put up heroku file still running normally but service peer calls on browser mobile  phone and browser on pc didn't connect...
Thank you,

[2020-03-03 03:12] phuongnguyen2511 commented on #69
Problem is: not run https://localhost:3000, thanks you.

[2020-03-03 10:43] #69 closed

[2020-03-04 10:57] phuongnguyen2511 commented on #67
Hello, You can help me with the problem: when I'm alone, I can still send messages and save them. People who connect later can review.
Thanks

[2020-03-09 06:18] StephanKrauss opened #70 "Desktop Sharing"
Hello,

can the program peer-calls share the desktop ?

I am looking for a program that can forward the desktop
or the recording of an external webcam.
This program is for a school.

Sincerely, Stephan

[2020-03-09 06:30] StephanKrauss opened #71 "Problem Docker"
Hello,

when i install peer-calls, i get an error.

my_dir> docker pull jeremija/peer-calls
my_dir> Using default tag: latest
my_dir> Error response from daemon: manifest for jeremija/peer-calls:latest not found: manifest unknown: manifest unknown

Can you help ?

Your sincerly

Stephan

[2020-03-09 06:33] StephanKrauss commented on #71
Ups,

Solved !

The correct pull command is: my_dir > docker pull jeremija/peer-calls:3.0.3

Thanks

Stephan

[2020-03-09 06:33] #71 closed

[2020-03-10 12:49] jeremija commented on #67
@phuongnguyen2511 I'm sorry but I do not understand your question. Please clarify?

[2020-03-10 12:52] jeremija commented on #70
I just added experimental support for desktop sharing in v3.0.4. I would appreciate if you could test it and let me know does it work for you.

<img width="205" alt="image" src="https://user-images.githubusercontent.com/1489493/76314036-5e218580-62d6-11ea-82f0-75cf73b315a9.png">

[2020-03-10 17:41] #4 closed

[2020-03-10 17:42] #6 closed

[2020-03-10 17:42] #7 closed

[2020-03-10 17:42] #15 closed

[2020-03-10 17:44] #16 closed

[2020-03-11 06:33] StephanKrauss commented on #70
Hi there,

Thank you for your prompt reply.
I support a school in my free time.
http://www.oberschule-bergstadt-schneeberg.de/

We expect a corona epidemic in Germany.
I am looking for a way to a small extent
to convey knowledge via the Internet.

Desktop sharing and simplifying the URL is important!
One question please.
How many people can use peer calls at the same time?
Are there any practical

[2020-03-11 11:10] jeremija commented on #70
Thanks for sharing the details. In the current implementation of peercalls, the peers create a mesh network (each peer sends audio/video data to every other peer).

If peers are unable establish direct connections, and a relay ([TURN](https://en.wikipedia.org/wiki/TURN)) server is configured, it will be used instead. This means that the video streams willl be routed through this server.

For examp

[2020-03-11 11:53] StephanKrauss commented on #70
Hello,

i think i will use a virtual server.
The hoster is then.
https://www.hosteurope.de/Server/Virtual-Server/
'starter' or 'starter plus' Server.

It will be an Ubuntu server.
I want to rebuild the Ubuntu server.
Docker and docker-compose are to be installed.
I tested this on a local server.

2 things are important to me.
1. We want to send the URL to the students using WhatsApp.

I can imagin

[2020-03-11 14:31] jeremija commented on #70
How many daily users are you expecting?

How many simultaneous classes and users per class?

http.//myDomain/room/myRoomNumber

I added an input field in v3.0.5 which allows the users to specify a custom room name:

<img width="351" alt="image" src="https://user-images.githubusercontent.com/1489493/76427379-81b6ff80-63ac-11ea-911a-2135104b1bc5.png">

As I mentioned previously, sharing the desktop

[2020-03-12 06:36] StephanKrauss opened #72 "Start testing peer-calls"
Germany , Leipzig 12.03.2020 07:36

Hello,

we will today start the testing of peer-calls.
After the test, i will get an information about the results.

Greetings Stephan

[2020-03-12 07:44] jeremija commented on #72
Thanks for letting me know. I'm curious to hear the results.

In case you experience connectivity issues, you might need to install and
configure a TURN server. I use coturn and can share the configuration files
privately if you need them.

On Thu, Mar 12, 2020, 07:36 Stephan Krauß <notifications@github.com> wrote:

[2020-03-12 10:28] StephanKrauss commented on #72
Hello,

we did a first test. This test was carried out on our intranet.
It was not possible to make a connection. The error message appeared in the Firefox web tool: 'TypeError: navigator.mediaDevices is undefined'

Sincerely, Stephan

[2020-03-12 10:30] StephanKrauss commented on #72
Hello,

is there a public demo ?

Your sincerly Stephan

[2020-03-12 10:35] jeremija commented on #72
Which version of Firefox are you using? My guess is that it is not an up-to-date version.

Public demo is available here: https://peercalls.com

[2020-03-12 10:37] jeremija commented on #72
Also it could be this (from [MDN](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia)):

Are you using using HTTPS?

[2020-03-12 12:18] StephanKrauss commented on #72
Hello, we're testing again tonight.
Our intranet has too many restrictions.
 We want to test with the URL :: https://peercalls.com.

Sincerely yours

Stephan

[2020-03-12 18:00] StephanKrauss opened #73 "second test"
Hello,

now i have a simple server.
This server runs on Ubuntu 18.0.4 .
I have installed the docker container with
docker run -d --rm -it -p 3000:3000 jeremija/peer-calls:3.0.8

The server IP is:    **redacted**

I get a error when i press the 'Join Call' Button.

-----
Error: TypeError: t is undefined
TypeError: t is undefined
-----

do you have any idea ?

Sincerely, Stephan

[2020-03-12 18:04] StephanKrauss commented on #73
Ups, there is a second error.

When i press the 'Start Session' Button

-----
Connected users: 1
Ready for connections
Connected to server socket
TypeError: navigator.mediaDevices is undefined
-----

I use Firefox 73.0.1 , 64 Bit, Linux Mint

Greetings

Stephan

[2020-03-12 18:30] jeremija commented on #73
Hi Stephan, I'll send you an email shortly so we can take this discussion off github.

[2020-03-13 03:25] phuongnguyen2511 opened #74 "Error sending message"
Hello, when i send message for 3 or more people ,the sender will find himself sending more than 1 message,
Thanks

[2020-03-13 13:10] #74 closed

[2020-03-13 13:15] jeremija opened #75 "Sending files has a limit of 256kb"
This does not happen in Firefox. The default SDP maxMessageSize is 256kb.

Relevant link: https://blog.mozilla.org/webrtc/large-data-channel-messages/

Most likely the solution is to send the file contents in chunks.

[2020-03-13 13:20] jeremija commented on #74
Thanks for reporting - this should be fixed in 3.0.10. Please let me know if you're still experiencing this issue.

[2020-03-16 21:44] TechArea opened #76 "Don't work for public users, just for intranet"
**Describe the bug**
The website can be loaded, but if you want to join, there is an interruption

**Bug Report Checklist**

- [X] I have granted camera/microphone access permissions while testing
- [x] This bug is reproducible on https://peercalls.com

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://peer.crashlog.ch
2. Click on "start session"
3. Click on "join call"
4. See err

[2020-03-16 21:53] jeremija commented on #76
If you cannot reproduce this on peercalls.com, then it is not a bug. I assume you are testing this within a corporate network? If so, perhaps the corporate firewall is blocking access to devices on the internal network. Peercalls.com is configured to use a TURN server (coturn), which will relay traffic when a direct connection cannot be established. The default configuration uses only a public STU

[2020-03-16 22:08] TechArea commented on #76
Ok. I'm behind a Firewall.
Can you please tell me which ports and protocols except tcp/udp on port 443 must be open?

[2020-03-16 22:14] TechArea commented on #76
AbortError: The operation was aborted.
Peer connection closed
A peer connection error occurred
Connecting to peer...
Connected users: 2
Connected users: 1
Ready for connections
Connected to server socket

[2020-03-16 22:45] jeremija commented on #76
From [Wikipedia](https://en.m.wikipedia.org/wiki/STUN#Design):

However, the default STUN server configured is stun.l.google.com:19302, since Google's STUN servers use 19302 instead of 3478.

[2020-03-18 07:47] TechArea commented on #76
I've to reopen this case.
Now peercalls doesn't work for me in any way.
Also not on your homepage peercalls.com
I've tried different scenarios.
UPC to UPC -> not working
Swisscom to UPC-> not working
Sunrise to Salt-> not working

It works if both users are behind the same Firewall, else it doesn't work

[2020-03-18 07:57] jeremija commented on #76
Sorry to hear that it doesn't work. I want to debug this. Can you join for a chat at Gitter: https://gitter.im/peer-calls/troubleshooting ?

[2020-03-23 18:26] robinpham commented on #76
I have get the same this issues.
I deployed on aws, and run coturn.
1. passed with: the same internet service provider
2. Failed if participants are come other internet service provider
please help me to explain/ resolve this issues !.
Thanks you!

[2020-03-23 18:41] jeremija commented on #76
Hi @robinpham,

Can you test your coturn server at: https://test.webrtc.org ?

You don't need to share your mic & camera there, I'm most interested in results of Network and Connectivity.

Make sure you enter your TURN settings here and leave the STUN server blank:

![image](https://user-images.githubusercontent.com/1489493/77350872-6d281f00-6d3d-11ea-8ae3-593df959aa38.png)

There are two ways of

[2020-03-23 19:40] sigurg opened #77 "Feature request: seed nickname from HTTP auth user name"
First of all: thank you for your work, peer-calls was quite effortless to set up and works great.

My instance actually runs behind a apache2 reverse proxy which requires HTTP basic authentication for all requests.
This is where my feature request comes in: right now every user that connects gets assigned a random UUID as nickname.
It would be great if I could peer-calls somehow tell to use the HT

[2020-03-23 20:43] jeremija commented on #77
@sigurg Can you test 3f9b41a and let me know if it works for you?

[2020-03-23 20:56] sigurg commented on #77
Wow, that was fast...
Works like a charm, thank you so much!
This makes meeting-calls so much easier... :)

[2020-03-23 20:56] #77 closed

[2020-03-23 21:08] jeremija commented on #77
Glad to hear it! Just published v3.0.17 🍻

[2020-03-23 21:29] sigurg commented on #77
If you want to add a configuration example, here's my apache config:

    # peer-calls
    RewriteRule            ^/peercalls$ /peercalls/ [R=301]   # always append trailing slash to URI
    # reverse proxy for websockets
    RewriteCond           %{HTTP:Upgrade}  =websocket [NC]
    RewriteRule            ^/peercalls/ws/$(.*)  ws://localhost:3000/peercalls/ws/$1 [P,L]
    # reverse proxy for norm

[2020-03-23 22:40] jespoting opened #78 "Error: NotAllowedError: The request is not allowed by the user agent or the platform in the current context."
*Describe the bug**
It only works if I call localhost directly. Inside the same computer with Firefox and in localhost you can find the cameras and the microphone and the video conference works.
If I configure to listen in the host ip, in my case 192.168.1.120 works the app from the same machine and same browser "firefox" but the videoconference does not work. I get the error I show above. I have

[2020-03-24 06:41] jeremija commented on #78
Recent versions of browsers have stopped exposing the camera API when HTTPS is not used. Use the provided example certificates or generate your own for testing locally. Set the paths to certificate files using the `ssl.cert` and `ssl.key` in the YAML config file, or set the followng environment variable:

[code]

[2020-03-24 06:41] #78 closed

[2020-03-24 12:11] jeremija commented on #77
Thanks for sharing!

[2020-03-24 23:47] pragmatech commented on #73
Fwiw, I recently got the app (3.0.17) to work remarkebly well on ubuntu 18.04 on a small Google vm. Whereas, my fiddling with the added layer of Docker had been less successful. I happen to find Yarn to seemingly work better with node apps in this configuration as well. And tangential to this github reporting (which I don't really use) or otherwise, I'm finding the chat component to not function i

[2020-03-26 06:21] robinpham commented on #76
Thanks you for  your help full.

As your solution, i tested, and failed.

![image](https://user-images.githubusercontent.com/19989512/77615946-23b91900-6f63-11ea-9515-af8d71423c96.png)

I allowed port 3478 / udp, 1000: 32768 / udp.
Up to now, I have not successfully configured, failed tested: https: //test.webrtc.org.

Because I don't have much experience deploying on aws.

Currently, the applicat

[2020-03-26 07:47] jeremija commented on #76
Try also enabling 3478 tcp, and 5349 for tcp and udp, and rerun the tests (assuming you're using the defaults for coturn):

From https://github.com/coturn/coturn/wiki/turnserver:

[2020-03-26 18:54] ahmetozalp opened #79 "stream image download"
Hello,

How can I download the image of the camera image? Whichever video is clicked on and download a screenshot

[2020-03-26 21:38] jeremija commented on #79
Unfortunately this is not possible at the moment. As a workaround you could take a screenshot.

[2020-03-27 12:00] robinpham commented on #76
Thanks you!.
Based your solution, i reviewed my app coturn.

I detected an error when i start "turnserver"

![image](https://user-images.githubusercontent.com/19989512/77753865-e5078980-705c-11ea-988f-353412671b31.png)

Im trying to resolve.

I would like you to explain/ resolve this issues !.

[2020-03-30 08:13] phuongnguyen2511 opened #80 "iframe"
Hello,
I am having issues with <iframe src = "https://peercalls.com/call/d8e150d4-ea73-4507-be4b-48dac0aa522e" style = "width: 100%; height: 100vh;"> </iframe>.
I cannot click the join call button ...
Thank you ...
![Capture](https://user-images.githubusercontent.com/56812712/77890013-f89f3400-7298-11ea-8b23-347a17b8e289.PNG)

[2020-03-31 11:40] ahmetozalp opened #81 "Switch Camera"
Is it possible and how do I change the camera for mobile devices during the live broadcast?

[2020-03-31 12:28] jeremija commented on #81
You can press the hang up button and pick your camera again. Unfortunately it is not possible to change the camera stream without interrupting the audio stream at the moment.

[2020-03-31 12:38] ahmetozalp commented on #81
Doesn't the FacingMode user and environment event solve the problem?

[2020-04-01 11:39] ahmetozalp commented on #79
I solved the problem with canvas, now I can take a screenshot

[2020-04-01 11:39] #79 closed

[2020-04-02 07:38] jeremija commented on #79
Did you mean to allow the users to take a screenshot, or take a screenshot for app purposes?

At some point, someone added a feature to screenshot of user images as avatars, but I had to [comment it out](https://github.com/jeremija/peer-calls/blob/master/src/client/components/Input.tsx#L61-L72) during refactoring because the code became very convoluted.

On the other hand, taking a screenshot in F

[2020-04-02 15:00] ahmetozalp commented on #79
I used this system (no right click on mobile phones) because it uses it in different browsers, I wrote a code similar to the code put on the comment line

[2020-04-02 23:04] jeremija commented on #80
https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia

[2020-04-02 23:04] #80 closed

[2020-04-02 23:07] jeremija commented on #76
Hi @robinpham, please contact the [coturn](https://github.com/coturn/coturn) team for support for coturn.

[2020-04-02 23:08] #70 closed

[2020-04-02 23:09] jeremija commented on #5
Implemented in 9e5dc88.

[2020-04-02 23:09] #5 closed

[2020-04-02 23:10] #19 closed

[2020-04-02 23:13] jeremija commented on #81
In my experience `facingMode: 'user'` is unreliable, at least in Firefox Android. A possible alternative would be to cycle between all or the first two cameras found. Closing as duplicate of #30.

[2020-04-02 23:13] #81 closed

[2020-04-02 23:14] jeremija commented on #38
Implemented in 4173ca0

[2020-04-02 23:14] #38 closed

[2020-04-02 23:15] #47 closed

[2020-04-02 23:16] #63 closed

[2020-04-02 23:21] jeremija commented on #65
Thanks for reporting and sorry for replying this late - I must've missed this message. I believe the problem was because the ICE server entriy on peercalls.com was configured using the `turns:` prefix, which caused connectivity issues in Firefox. Now it's configured to use `turn:` and based on my tests the latest version should work across all major browsers (Chrome, Firefox, Safari, Edge). Please

[2020-04-02 23:21] #65 closed

[2020-04-02 23:21] #67 closed

[2020-04-02 23:21] #72 closed

[2020-04-02 23:21] #73 closed

[2020-04-02 23:22] #76 closed

[2020-04-03 00:25] R0GGER commented on #76
Why closed? Problem still exists...

[2020-04-03 06:09] jeremija commented on #76
Because I discusses this issue with OP in Gitter and the problem was resolved. Are you experiencing this issue on peercalls.com, or on a locally hosted instance?

[2020-04-03 06:27] jeremija commented on #63
Hi there, sorry for replying this late to your issue. There have been many updates in Peer Calls since August. If you're still experiencing the issue, please reopen and let me know if it happens on peercalls.com.

[2020-04-03 17:26] litashg opened #82 "Custom bandwidth"
Hello! I'm trying to build a multi-room video chat based on your code. I have a problem with video when more than 4-5 users come into the room at one time. I want to try set bandwidth on 250 kbps. Like in that demo. https://webrtc.github.io/samples/src/content/peerconnection/bandwidth/

Can you help me to find a way to do it? Maybe some config, etc...

[2020-04-03 20:17] jeremija commented on #82
Hi @litashg, Thanks for your interest in Peer Calls!

This is a tricky problem because all peers in Peer Calls establish a mesh network, which means one user ends up uploading their own video to every other connected user in the room. Based on the example you listed, looks like you'd need to take out the [`updateBandwidthRestriction`][1] function, and then call it from the [`sdpTransform`][2] func

[2020-04-04 07:06] litashg commented on #82
Hi @jeremija . Thank you for your fast response.
I will try to rewrite the original function, maybe it can help me.

How do you think, do I have any chances to have a nice performance when 10 ppl come into the room if I use mesh network?

Maybe you can advise me on some SFU decisions based on node js? I found only [mediasoup](https://github.com/mganeko/mediasoup_v3_example) but their npm installer

[2020-04-04 07:29] jeremija commented on #82
Perhaps if you limit the bandwidth you'll have better success. I'd be curious to hear your findings once you try it out.

I've heard about mediasoup, but I've never used it. Then there is [kurento media server][1]. Some people using simple-peer mentioned it as a good option. It can serve as an SFU, it has a websocket API, a NodeJS client library on npm, thorough documentation and lots of sample ap

[2020-04-04 09:15] jeremija commented on #62
Hi @mdemarco1234, apologies for replying this late to your questions. The bandwidth and processor usage depend on the resolution and the codec used. Another way to improve performance would be to try limit the bandwidth in SDP like suggested in #82, however I believe the browsers should adjust this automatically depending on network status.

Right now the peers establish a mesh network and each pe

[2020-04-04 09:15] #62 closed

[2020-04-04 12:55] litashg commented on #82
One more question. I saw that when I use Firefox - one client can handle 4-5 streams without rendering errors. I think it because Firefox uses h264 by default. Maybe if I set H264 as default codec - the application can work more stable. Any idea of how to do that experiment?

[2020-04-04 13:17] jeremija commented on #82
Are you referring to video render errors, or a bug in application code? You can filter the SDP and only leave the a=rtpmap entries for H264. You'd also need to make sure you remove the filtered out the payload types of removed codecs from related `m=video` section(s).

[2020-04-04 15:33] litashg commented on #82
I think it`s all about a bug in application code (react rendering errors). I want to ask my friend who familiar with react to help me fix it. Maybe we can check if a stream is rendering correct, else - just reload 'video' tag.
Thanks for the solution. I will try it.

[2020-04-04 15:35] jeremija commented on #82
Oh, but this is in your dev code? Or does the same bug happen on peercalls.com as well?

[2020-04-04 15:40] litashg commented on #82
I found this bug on peercalls.com . If more than 3 users in a room more than 15-20 seconds one-two 'video' tags can fall and show only last frame. Maybe it's all because of my mac's CPU is overloaded.

[2020-04-04 15:44] jeremija commented on #82
Got it, thanks for sharing. I'll look into it as well.

[2020-04-04 15:52] litashg commented on #82
I can help you to found that bug if you need a help.

[2020-04-04 15:52] ahmetozalp commented on #82
Yes, if the user has logged out, the saddle screen remains the last video.

[2020-04-04 15:57] jeremija commented on #82
Do you see a message in the top console saying something like "cannot remove a track that was not added"?

[2020-04-04 16:00] litashg commented on #82
![Screen Shot 2020-04-04 at 6 58 51 PM](https://user-images.githubusercontent.com/31222500/78455357-82d70600-76a6-11ea-8711-645f3bb038da.png)

I make a screenshot.

[2020-04-04 16:02] litashg commented on #82
4 connects at time. Only 1 'video' tag is active, 2-3-4 falls.

[2020-04-04 16:05] jeremija commented on #82
So they stop working after the fourth user connects? Because I just tested this with four devices and I could see all videos, albeit some were a little slow.

[2020-04-04 16:07] litashg commented on #82
Yes. It strange, and I think it's all because my mac can't handle 4 connections at time.

[2020-04-04 16:12] litashg commented on #82
And I can't find why it shows message - 'Connected users : 5'. Why socket event 'users' activates 2 times without new connections.

[2020-04-04 16:14] jeremija commented on #82
Are you connected to network via WiFi? If so, your access point could also be the bottleneck. For devices will be sending a total of 4*3 videos to each other. If we say one video is 500Kbit/s - 1Mbit/s, that could be 6 - 12Mbit/s for four users.

[2020-04-04 16:15] jeremija commented on #82
The `users` event will fire on reconnect, but no new connections should be made if peer connections are already active. Weird that it says `5` users if only `4` are connected.

[2020-04-04 16:20] jeremija commented on #82
It could be that the `disconnect` event hasn't happened yet on the server-side and the old socket connection was still included in the `users` list.

[2020-04-04 16:22] litashg commented on #82
My connection is wifi ~35 Mbps for download and upload.

[2020-04-04 16:24] litashg commented on #82
It's some delay between user close browser and server shot `disconnect`. I'll look at how to avoid that.

[2020-04-04 16:27] jeremija commented on #82
My working branch for v4 (`server-go`) uses sets or hashmaps with IDs coming from the client-side so this shouldn't happen there. In v3 I'm relying on socket.io for this data, and that library seems to generate a new ID for every new connection.

[2020-04-04 16:28] jeremija commented on #82
This is what I was asking about:

![image](https://user-images.githubusercontent.com/1489493/78456106-16f29e80-76a2-11ea-88d9-9ca1d6aeeee1.png)

This happens on peer connection error.

[2020-04-04 16:31] ahmetozalp commented on #82
Hiding the screen in video.tsx when Camera or Sound is turned off?

[2020-04-04 16:40] jeremija commented on #82
@ahmetozalp can you clarify? I'm not sure I understand :)

[2020-04-04 17:04] ahmetozalp commented on #82
![GitHub Logo](https://i.imgur.com/sNrmBpL.png)

[2020-04-04 17:05] ahmetozalp commented on #82
2th screen bug.

[2020-04-04 17:19] ahmetozalp commented on #82
stun links: google

[2020-04-04 17:31] ahmetozalp commented on #82
I found the problem, the problem is slow, the connection is lost on the internet

[2020-04-04 17:32] litashg commented on #82
Result of reducing bandwidth to 125kbps - 5 different users in one Chrome client window without lags and disconnects on my early 11 macbook pro. Nice result.

But if one of the video clients falls - I need to reload the page. And your fix of removing video tag on user disconnect works perfectly.

[2020-04-04 19:14] ahmetozalp commented on #82
can you share it if it succeeds?

[2020-04-04 22:58] fredhampton opened #83 "Encryption ?"
Are peer calls encrypted ?

[2020-04-05 07:00] jeremija commented on #83
Yes, the WebRTC specs mandate encryption. The peercalls.com server uses a standard TLS encryption and browsers will prevent access to `navigator.mediaDevices.getUserMedia` if a self-hosted instance is configured without TLS.

Depending on the ICE servers configured, some network information might be transferred to a third party to help establish a peer connection. On peercalls.com we're hosting ou

[2020-04-05 07:00] #83 closed

[2020-04-05 07:29] litashg commented on #82
Added to PeerAction.ts

[code]
[code]

And added param to

`const peer = new Peer({
      initiator: userId === initiator,
      config: { iceServers },
      sdpTransform: createSdpTransform(125),
      // Allow the peer to receive video, even if it's not sending stream:
      // https://github.com/feross/simple-peer/issues/95
      offerConstraints: {
        offerToReceiveAudio: true,
        o

[2020-04-05 07:30] litashg commented on #82
I don't know react, so I just hardcoded param.

[2020-04-05 08:58] litashg commented on #82
Gospodine Jerko, I need your advice. I found one more WebRTC realization - https://whereby.com/sobakabarabaka (demo room), please, tell me if you know, how do they reload video tag ? If I load 4 users from a low-performance client - video renders slowly, sometimes freeze but it never off.  Can you show me a direction of what to read or what to google?

[2020-04-05 09:47] jeremija commented on #82
Are you using Chrome by chance? Can you try commenting out the `track.onmute` handler [here](https://github.com/jeremija/peer-calls/blob/4a089b52f3a84fad39b19f3ec54288b5d48c1bd1/src/client/actions/PeerActions.ts#L86-L90) and see if that fixes the issue?

[2020-04-05 10:20] litashg commented on #82
Brilliance! Chat handled 8 connections at a time. Even from the phone, from old mac, from windows tablet or android tablet. I think It can handle more connections but we don't have more devices)) You are the smartest person ever. Thank you!

[2020-04-05 10:21] litashg commented on #82
And no matter what browser I use. Chrome, Opera, Firefox and noname Xiaomi browser.

[2020-04-05 10:23] jeremija commented on #82
Haha, thanks for your kind words, and thanks for pointing out this bug. I'm going to add a fix for this shortly.

[2020-04-05 10:26] litashg commented on #82
If you need - I can help you to handle as more bugs as I can find.

[2020-04-05 10:27] jeremija commented on #82
That would be great, thanks so much!

[2020-04-05 10:54] jeremija commented on #82
@litashg Would you mind testing my fix in 949a09f4 (latest commit on master)?

[2020-04-05 11:02] litashg commented on #82
Yes. Wait a few minutes.

And one more bug - if you click "Join Call" more than one time - it will create few video tags.
![Screen Shot 2020-04-05 at 2 02 22 PM](https://user-images.githubusercontent.com/31222500/78473021-1d3a5680-7746-11ea-8b83-b6ec4d2dcfc1.png)

[2020-04-05 11:09] jeremija commented on #82
Ah, thanks for reporting this!

[2020-04-05 11:21] litashg commented on #82
I tried your fix. Works great. But when a stream is removed - the last frame in video tag zoomed. Than stream reloads and play nice until next remove and frame zoom. I found this only in Chrome. It's really strange when video screen content suddenly jumps in zoom.

[2020-04-05 11:21] litashg commented on #82
I can make video if you need it.

[2020-04-05 11:22] jeremija commented on #82
Thanks, a video would be helpful!

[2020-04-05 11:33] litashg commented on #82
https://drive.google.com/open?id=1n5HL6evYLYg1I1gKvPjZ9B0xHP_Zy0q3

[2020-04-05 11:53] ahmetozalp commented on #82
@litashg can you give me access

[2020-04-05 12:34] litashg commented on #82
@jeremija @ahmetozalp access granted.

[2020-04-05 12:50] jeremija commented on #82
Thanks for sharing! @ahmetozalp, is this the same issue you wrote about above?

@litashg, can you share the steps to reproduce this behavior? Is this on 949a09f ? Is it a poor network connection, or something else?

[2020-04-05 12:59] litashg commented on #82
I just opened 3 browser windows in one channel. My CPU was overloaded and some video streams fall and reload. Yes, it's happening on [949a09f](https://github.com/jeremija/peer-calls/commit/949a09f4b10892942ed8eee2a6193d33e30263cd). And the previous fix with removing dispatch works much better. Do you really need to remove track when the CPU cannot render the video stream fast?

[code]

[2020-04-05 13:11] jeremija commented on #82
Thanks! The `onmute` is the only event we can listen to see that the remote peer has stopped sharing their video. This is an issue because the users can be sharing two video tracks: webcam video and desktop capture.

Since most browsers have switched to [Unified Plan](https://docs.google.com/document/d/1-ZfikoUtoJa9k-GZG1daN0BU3IjIanQ_JSscHxQesvU/edit), there is no guarantee that the `MediaStreamT

[2020-04-05 13:28] jeremija commented on #82
Is this it? I am not able to reproduce the stretched picture, though.

![peercalls](https://user-images.githubusercontent.com/1489493/78499598-dd796c00-7751-11ea-8a24-9cf84d67d725.gif)

[2020-04-05 13:35] litashg commented on #82
Also, is it ok if I share screen and people see 2 video streams? One from my camera and second from my screen?

[2020-04-05 13:37] litashg commented on #82
Look like it depends on CPU, I don't see anything strange on your demo.

[2020-04-05 13:38] jeremija commented on #82
The video tracks are being muted (removed) and unmuted (added again) in a loop.

[2020-04-05 13:39] jeremija commented on #82
I would assume so. Other software behaves similarly - you can see both the screen and the speaker.

[2020-04-05 13:48] ahmetozalp commented on #82
While the problem is slow video recording from the internet, do a speedtest from a computer with 10megabit or 20megabit internet and you will see the problem in the upload.

My suggestion is to get it reconnected, but how can it be done?

[2020-04-05 13:48] litashg commented on #82
And what if you don't mute the track? It looks like it rendering speed becomes slower.

[2020-04-05 13:52] litashg commented on #82
@ahmetozalp in my opinion - the bottleneck is rendering speed.

[2020-04-05 13:56] jeremija commented on #82
Yes, the main problem with mesh network in this situation is the asymmetric download/upload speeds. The common upload speeds on common internet connections are usually an order of magnitude lower than the download speed.

As @litashg mentioned, the CPU power is also a factor. But when testing locally on the same device, the performance will always be worse than when testing on, say, two devices. I

[2020-04-05 14:10] jeremija commented on #82
Please test e9e0ab8 (branch `track-muted-fix`) and let me know if this looks a little better now?

[2020-04-05 15:29] ahmetozalp commented on #82
there is nothing altogether changing

[2020-04-05 15:30] jeremija commented on #82
What do you mean nothing's changing? The video boxes should no longer be disappearing. What are you testing?

[2020-04-05 15:51] litashg commented on #82
Look better. I don't even see any zooms.

[2020-04-05 16:26] fredhampton commented on #83
Great !!!!!
Thanks so much for all you are doing !!!!

[2020-04-05 17:20] litashg commented on #82
![Screen Shot 2020-04-05 at 8 15 53 PM](https://user-images.githubusercontent.com/31222500/78505243-d450c500-777a-11ea-9108-1ec8a234c151.png)
One of the best results. 12 ppl in one group.

[2020-04-05 17:29] jeremija commented on #82
Thanks for sharing!! Is this with bandwidth limiting or no?

[2020-04-05 17:35] litashg commented on #82
Limit is 125 kbps. Sometimes video track renders slowly, but nothing falls. Great result I say. Thanks to you.

[2020-04-05 18:10] jeremija commented on #82
Thanks for sharing!!! Glad I was able to help and please report any issues you run across.

[2020-04-05 18:10] #82 closed

[2020-04-05 19:22] litashg commented on #82
Thank you! If I found any bug or code some new feature - I will write to you.

[2020-04-05 19:34] ahmetozalp commented on #82
@litashg  Hello, do you try to do internet speed test on a different tab during speaking, I still have the same problem

[2020-04-05 20:03] litashg commented on #82
@ahmetozalp Any problems with internet speed. Max for 12 client was 10mbps for receiving and ~1.5 for sending. You should try to test on different devices. Not in one browser.

[2020-04-05 20:16] ahmetozalp opened #84 "write on screen when camera is off"
Hello, I will send some features like taking a screenshot in peerconnect in a few days but I have to do this too. If any camera is off, I want to write the screen, how can I do this? (my english bad, translate use)

[2020-04-05 20:21] jeremija commented on #84
Thanks @ahmetozalp. What do you wish to write on screen? Draw? Or show a label when no video is visible?

[2020-04-05 21:27] ahmetozalp commented on #84
just write something. In the big and small window, I will edit the text to be written

how can I do it?

[2020-04-05 21:49] jeremija commented on #84
Take a look at the Chat.tsx and Input.tsx components and see how messages are being sent and received there. I think it should give you a good starting point.

[2020-04-05 22:21] ahmetozalp commented on #84
thank you I will look

[2020-04-06 00:46] ahmetozalp commented on #84
I think I can't explain my problem so I will try again..

![GitHub Logo](https://i.ibb.co/FwwrCsD/Ekran-Resmi-2020-04-06-03-43-06.jpg)

How do I specify my step 2 says camera is off?

[2020-04-06 00:46] ahmetozalp commented on #84
2. step black screen add offline icon

[2020-04-06 10:11] litashg opened #85 "Stream permission issues"
Hello, @jeremija !
I found a few issues:
1. Option 'Disable Video' in the dropdown - doesn't work
2. Video translation starts before you press 'Join Call' button

[2020-04-06 10:40] jeremija commented on #85
Did you disable both Video and Audio? Because Audio-only works for me.

Correct, this is on my TODO list to fix this week. I'll also add a nickname dialog.

[2020-04-06 10:47] litashg commented on #85
1. If I disable both Video and Audio - I got an error in the top console. Audio disable button - works well. Problems are if disable only Video.

2. Nice. I add faker lib in my dev code to generate Human-like names by default. But I don't know how to push data to your repo. Got permission error.

[2020-04-06 10:51] jeremija commented on #85
Correct, the browser can't get the stream because there's nothing to get.

If you wish to contribute please submit a [pull request](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request). But before opening a pull request, please open an issue to check if this is something I can accept - I'm adding a lot of new stuff now and it could collide, and I w

[2020-04-06 11:05] litashg commented on #85
Thank you! That issue was on my side. I found it.
Have a nice day!

[2020-04-06 15:24] #85 closed

[2020-04-06 15:50] jeremija commented on #85
Added nickname prompt in v3.0.20, along with a flexbox-based video wall.

[2020-04-07 11:01] litashg opened #86 "Browser tab duplication"
Hi, Jerko!
I suddenly found that if I click "Duplicate browser tab" - I got an empty room with the same URL but the count of sockets in room increments. Maybe we got some way to block duplication or avoid cloning.

![Screen Shot 2020-04-07 at 2 00 42 PM](https://user-images.githubusercontent.com/31222500/78661975-4db1fa00-78d8-11ea-8cb8-034b74dbfb59.png)
![Screen Shot 2020-04-07 at 2 01 01 PM](htt

[2020-04-07 11:04] jeremija commented on #86
So this happens only when you use the duplicate option? I've tested this many times, but I'd copy and paste the URL manually and that works.

[2020-04-07 11:06] jeremija commented on #86
Can you check if the value of `userId` is the same for the duplicated tab?

[2020-04-07 11:09] litashg commented on #86
Yes, only if I use duplicate. If I copy/paste URL manually - all works perfectly.

I make screenshots from the console.

User 1 - connected via peercalls.com and created room manually
![Screen Shot 2020-04-07 at 2 06 59 PM](https://user-images.githubusercontent.com/31222500/78662563-4f2ff200-78d9-11ea-8d20-c9a953362bb1.png)

User 2 - connected via copy-paste
![Screen Shot 2020-04-07 at 2 07 13 PM]

[2020-04-07 11:11] litashg commented on #86
`userId` - is same on duplicated pages

[2020-04-07 11:14] jeremija commented on #86
This is why it didn't connect. If you had another user connected it would connect normally. This would never happen in real life, unless somehow the UUIDs generated are the same and the probability for this is really low.

[2020-04-07 11:20] litashg commented on #86
So if someone wants to open chat in a few tabs we should just ignore that? Count of users in the room will increment, and no new video streams appear.

[2020-04-07 11:29] jeremija commented on #86
I guess so. We could also generate userIDs client side. Before a recent update, the socket ID was the main identifier. I changed it to userID generated on page render to keep the old peer connections alive on reconnect.

[2020-04-07 11:32] litashg commented on #86
I'll try to filter duplicated connections, and redirect them to main page. Maybe it helps. Thank you for your answer!

[2020-04-07 21:46] alex0195 opened #87 "Library to implement cliente in VueJs"
Your development is excellent, congratulations, I would like to know if there is a way to work it as with peerjs for cdn, I am trying to do the front with VueJs? Thanks

[2020-04-08 06:06] jeremija commented on #87
Thanks for your interest in Peer Calls! I'm not familiar with PeerJS so I'm sure I understand what you'd like to do. Could you please clarify?

[2020-04-08 11:37] ahmetozalp opened #88 "How can I make video references with the globel?"
Hello. How do I do globally to access current data of video players?

[2020-04-08 11:45] jeremija commented on #88
You can access the `MediaStream`s in the redux state using `state.streams`.

Alternatively, you could select all `<video>` elements and take it from there: `document.querySelectorAll('video')`

[2020-04-08 11:49] ahmetozalp commented on #88
thank you. @jeremija

[2020-04-08 11:49] #88 closed

[2020-04-08 12:40] ahmetozalp opened #89 "Backend extra data"
Hello,

call.ts;
![GitHub Logo](https://i.ibb.co/9ZMS2qZ/Ekran-Resmi-2020-04-08-15-36-49.png)

I am doing admin control on this part. How can I show this in app.tsx?

//

or is there a commit I can follow?

[2020-04-08 13:43] #86 closed

[2020-04-08 13:46] ahmetozalp commented on #89
oh problem fix.

call.html add field.

[2020-04-08 13:46] #89 closed

[2020-04-08 13:47] litashg opened #90 "WebRTC and buffer"
Hello, Jerko!
I have a question for you. We used webchat for an hour in 9 ppl and I thought that after some time browser take more and more RAM. After 1 hour it was nearly 1gb and user clients start to lag.
Is it a data buffer? And if yes - how can I clear it from time to time.

[2020-04-08 13:50] alex0195 commented on #87
Ok, just being able to make the interface script in the client, so that you can have the server only as a backend process and the client in VueJs or pure javascript, peerjs provides a js library that can be implemented with cnd or npm and offers methods to connect example:
Peer = new PeerJs (ID, {server-conf});
Peer ('conex', callback) where conex is activated once connected.

In your readme I see

[2020-04-08 14:34] ahmetozalp commented on #90
I noticed that too, the browser is slowing down in firefox

[2020-04-08 21:17] jeremija commented on #90
Thank you both for reporting this. This sounds like a memory leak in the browser. We don't do any stream processing in Peer Calls, and neither is `simple-peer`, which just wraps the calls to `RTCPeerConnection`. We're simply passing the streams around to `<video>` elements.

Can you run the profiler in DevTools and see if there's anything particular that's consuming increasing amounts of memory?

[2020-04-08 21:21] jeremija commented on #87
If you want to use the server side, and code your own frontend, check out `src/client/index-simple.tsx` from the `server-go` branch, but use it on the `master` since server-go is an unstable branch at the moment.

[2020-04-08 22:12] #84 closed

[2020-04-09 09:16] litashg commented on #90
Sadly to say, but I don't understand what is profiler talking about. I can send you json with results if you know what to do with it. I found one moment that I saw in Activity Monitor. Each time I go into chat Google Chrome Helper (Renderer) added to processes, and even I leave chat these helpers don't disappear.
![Screen Shot 2020-04-09 at 11 10 46 AM](https://user-images.githubusercontent.com/31

[2020-04-09 10:16] jeremija commented on #90
You can take a memory snapshot from Dev Tools:

Firefox:

![image](https://user-images.githubusercontent.com/1489493/78884907-f76dc400-7a5b-11ea-95b5-5243ced52eda.png)

Chrome:

![image](https://user-images.githubusercontent.com/1489493/78884893-f2a91000-7a5b-11ea-96c6-022ce325e7bb.png)

[2020-04-09 11:34] ahmetozalp commented on #90
![GitHub Logo](blob:https://imgur.com/2fed4aa3-2b07-4040-ac04-a3adc9a099a4)

[2020-04-09 12:04] jeremija commented on #90
Thanks for sharing. It looks like only 19MB is in use. Does this size increase over time?

[2020-04-09 14:09] ahmetozalp commented on #90
I have never watched from here, but if I notice it, I will look at it and share the screen image again. (translate)

[2020-04-09 19:04] ahmetozalp opened #91 "IOS - Chrome browser not working!"
Click: Youtube Video

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/G9u_QShuyYQ/0.jpg)](https://www.youtube.com/watch?v=G9u_QShuyYQ)

[2020-04-09 19:11] ahmetozalp commented on #91
Current status of it you could check http://iswebrtcreadyyet.com/

https://stackoverflow.com/questions/39790639/webrtc-support-on-chrome-browser-in-iphone-ipad

[2020-04-09 19:26] jeremija commented on #91
Which iOS and Safari version are you using?

I am able to successfully connect on iOS 12.4.5 and latest iOS 13.

[2020-04-09 19:27] ahmetozalp commented on #91
Iphone 11
Version: 13.3.1

[2020-04-09 19:29] jeremija commented on #91
Could it be that another application on your iPhone is already recording video? I see a red recording icon before you click `Join Call`. Perhaps in another tab?

[2020-04-09 19:29] ahmetozalp commented on #91
Safari working
Chrome notworking.

[2020-04-09 19:31] ahmetozalp commented on #91
reverse screen on the back camera How can I fix this?

[2020-04-09 19:32] jeremija commented on #91
Yes, you are right. It doesn't seem to work outside of Safari.

You should be able to choose a video under your nickname, where it says `Default Video` by default.

[2020-04-09 19:32] #91 closed

[2020-04-09 19:34] jeremija commented on #91
For the reversal, you'd need to figure out which camera you got and based on that disable the `mirrored` CSS style in the `<Video>` component.

I've known about this issue for some time, but never had the bandwidth to fix it.

[2020-04-09 19:34] ahmetozalp commented on #91
Go to android phone: https://peercalls.com/call/a

and select the back camera

mirroring class not working.

[2020-04-09 22:12] jeremija commented on #91
I don't think I can reproduce your issue - my back camera is being mirrored (and this is a bug). Is this what you're experiencing?

[2020-04-10 08:48] ahmetozalp commented on #91
The 'mirroring' class is working on the front camera, no problem, but when you run the rear camera, this 'mirroring' must be deleted.

[2020-04-10 10:29] ahmetozalp commented on #91
I can detect the rear camera. I can delete the 'mirroring' class.

[2020-04-11 05:59] litashg commented on #90
Hi! I found that memory leaks are a problem of Chrome. Nothing we can do. Thanks to all of you!

[2020-04-11 05:59] #90 closed

[2020-04-11 06:01] jeremija commented on #90
Can you share a link?

[2020-04-11 06:04] litashg commented on #90
https://github.com/webtorrent/webtorrent/issues/551

[2020-04-11 06:08] jeremija commented on #90
Thanks!

[2020-04-11 06:10] litashg opened #92 "Running Redis fails"
Hi Jerko!
I tried to add Redis as store, and I get an error.

My docker ps
![Screen Shot 2020-04-11 at 9 00 27 AM](https://user-images.githubusercontent.com/31222500/79036747-11caad80-7bd4-11ea-8015-8fcabdef7a63.png)
My config
![Screen Shot 2020-04-11 at 9 01 03 AM](https://user-images.githubusercontent.com/31222500/79036753-15f6cb00-7bd4-11ea-8161-1d2e91c4e7f2.png)
My error
![Screen Shot 2020-04-

[2020-04-11 06:12] jeremija commented on #92
Are you running a local redis instance?

What happens when you run:

[code]

or

[code]

[2020-04-11 06:14] litashg commented on #92
bash: redis-cli: command not found

[2020-04-11 06:15] jeremija commented on #92
Also, you won't be able to use a local redis from a docker instance. You'd have to create a network and link the containers, or use `docker-compose` for this:

[code]

Now you should be able to use `host: redis` and `port: 6379`.

[2020-04-11 06:15] #92 closed

[2020-04-11 06:27] litashg commented on #92
Added new docker-compose.yml, changed the config to :
[code]
Rebuilded all an up.
![Screen Shot 2020-04-11 at 9 25 55 AM](https://user-images.githubusercontent.com/31222500/79037055-a8986980-7bd6-11ea-8d33-ecca4749b897.png)

[2020-04-11 06:28] jeremija commented on #92
Change the redis host to `redis`

[2020-04-11 06:33] litashg commented on #92
Like this ?
![Screen Shot 2020-04-11 at 9 33 07 AM](https://user-images.githubusercontent.com/31222500/79037190-8521ee80-7bd7-11ea-81da-1be77b0c91ec.png)

[2020-04-11 06:39] jeremija commented on #92
yes, it has to be the same as the name of the container in a `docker-compose` file.

[2020-04-11 06:40] litashg commented on #92
Nothing changes :(

[2020-04-11 06:46] jeremija commented on #92
What happens if you run only this, without any config files?

[code]

[2020-04-11 06:50] litashg commented on #92
It works for me too. But is it ok to put store config into docker-compose.yml?

[2020-04-11 06:54] jeremija commented on #92
It depends. You might want to use a separate file like [`.env`](https://docs.docker.com/compose/environment-variables/#the-env-file).

If you want to use a local config file using `docker-compose`, the easiest way is to write the file to `./config/local.yaml`, and then add the `config/` directory as a volume:

[code]

[2020-04-11 07:00] litashg commented on #92
I understand. Thank you for good advice.

[2020-04-11 18:06] ahmetozalp opened #93 "questions about logic of work"
I want to list all the streams here. How can I do it?** https://github.com/jeremija/peer-calls/blob/master/src/client/components/Media.tsx#L67

[2020-04-11 19:41] ahmetozalp commented on #92
@litashg how can i contact you?

[2020-04-11 19:58] jeremija commented on #93
Does this help?

[code]

[2020-04-11 20:38] ahmetozalp commented on #93
no. I want to get the list of users in the room. I want to do, to check if the room has the same userID

[2020-04-11 20:39] ahmetozalp commented on #93
`MediaStream {id: "cJmyaLUxm654tSXSR8h88J5TVO5Ch00UxddS", active: true, onaddtrack: null, onremovetrack: null, onactive: null, …}
id: "cJmyaLUxm654tSXSR8h88J5TVO5Ch00UxddS"
active: true
onaddtrack: null
onremovetrack: null
onactive: null
oninactive: null
__proto__: MediaStream`

[2020-04-11 20:47] ahmetozalp commented on #93
I couldn't throw it from props here, it gave error all the time. There must be a simpler way to get this list.

[2020-04-12 05:58] jeremija commented on #93
[code]

This should allow you to get a list of users after calling `dial()`:

[code]

[2020-04-12 10:46] jeremija commented on #51
Closing this as nicknames are now required before joining the call.

[2020-04-12 10:46] #51 closed

[2020-04-12 10:47] jeremija commented on #87
Closing this as it's not really an issue. If you have any more questions, please feel free to comment.

[2020-04-12 10:47] #87 closed

[2020-04-12 11:09] ahmetozalp commented on #93
`
props.logInfo('Konferans Kontrol Ediliyor...')
const result = payload.users.filter(user => user.userId === userId)
if(result.length > 1){
        const error = { message: 'Aynı kimlik de odada kullanıcı mevcut' };
        throw error.message;
}
`

thank you. only left the room left user

[2020-04-12 11:15] jeremija commented on #93
Since the current user is joining the room, it is expected that the current user is in the `users` list.

 You can filter the current user out:

[code]

[2020-04-12 11:23] ahmetozalp commented on #93
Thank you 2side works for me.

I will have 1 error and 1 question for you.
question;
1- What is redis used for? I don't use it and I didn't encounter an error.

error;
1- How can I delete the 'mirroring' class on the back camera works properly on the front camera but it should not work on the back camera

[2020-04-12 14:18] #93 closed

[2020-04-12 15:17] jeremija commented on #93
I got an e-mail notification about a question on how to stop the mirroring of the back camera.

Theoretically, you could enable mirroring only when the `label` of a `MediaStreamTrack` with  `kind === 'video'` contains `front`:

[code]

This works in Chrome. However, it doesn't seem to work correctly in all browsers so I've refrained from using it. For example, the `MediaStreamTrack.label` on Firef

[2020-04-12 20:04] ahmetozalp commented on #93
I could not bring the device list to [this](https://github.com/peer-calls/peer-calls/blob/master/src/client/components/Video.tsx#L67) line

[2020-04-13 06:52] jeremija commented on #93
You should be able to modify the `mapStateToProps` function in `containers/App.tsx` and pass the `state.media.devices` to `components/App.tsx`. From there, pass the device list to `components/Videos.tsx` and to `components/Video.tsx`. Note that the interfaces of all the affected components will have to be modified to accept a new prop.

Alternatively, you could make the `Video.tsx` a redux-connect

[2020-04-13 10:53] litashg opened #94 "Peers don't reloads"
Hello, Jerko.
I found an issue. I have 6 users in 1 room, and they run nicely. But sometimes one of the clients lost peer. One or two video screens just removes. How can I reload peers and add a video track to the user's screens?
I tried this on peercalls.com

[2020-04-13 11:44] ahmetozalp commented on #93
Hello,

Thank you very much for your answer. I never needed redux because I used the context structure, but now I will learn redux

[2020-04-13 13:48] jeremija commented on #94
You could try to fix it by emitting a `ready` websocket event after `simple-peer`'s `disconnect` event is fired from the initiator's side. I believe this will be calleed if the websocket reconnects, so you should make sure not to call it twice.

[2020-04-13 14:40] ahmetozalp commented on #94
If the page refreshes after matching, it won't reconnect and gives a black screen and a random username.

![GitHub Logo](https://i.hizliresim.com/iB0Tud.png)

[2020-04-13 15:24] ahmetozalp commented on #94
yes problem v4 roleback and fix.

[2020-04-13 16:55] ahmetozalp commented on #93
[code]

[2020-04-13 17:08] ahmetozalp commented on #93
@5 step:

[code]
![Image description](https://i.hizliresim.com/0jioCx.png)

How do I add the 3rd object to this field?

[2020-04-13 18:48] jeremija commented on #93
https://github.com/peer-calls/peer-calls/blob/master/src/shared/SocketEvent.ts#L4-L7

Since this project uses TypeScript, I'd recommend you to use a text editor with support for [`tsserver`](https://github.com/Microsoft/TypeScript/wiki/Standalone-Server-%28tsserver%29), if you don't already use one. It will help you a lot with finding references in cases like these.

[2020-04-13 19:09] ahmetozalp commented on #93
I saw here, I added the line, but I think I have to trigger it from somewhere.

i am using typescript my editor vscode in react-native projects

[2020-04-13 19:43] jeremija commented on #93
You should get a compile error if you add a required field that is not populated.

[2020-04-13 21:31] ahmetozalp commented on #93
I added the area you said but it didn't give an error and it works as if there were none

[2020-04-13 21:41] ahmetozalp commented on #93
fix.

https://github.com/peer-calls/peer-calls/blob/master/src/server/socket.ts

[2020-04-14 08:34] ahmetozalp opened #95 "there is no vıdeo but there is sound"
Hello, we constantly turn the camera on and off during the video call, I don't know why after a while, but the video camera stays on the black screen, it doesn't improve again, but why does it sound?

turn server: google.

-------

I also see log lines in the codes how do I activate them so I can display them with 'pm2 logs'

[2020-04-14 09:10] jeremija commented on #95
Which browser are you using? I cannot reproduce this in latest Firefox locally (two windows connected to same room).

Regarding the logging, see the [README](https://github.com/peer-calls/peer-calls/blob/master/README.md#logging).

[2020-04-14 09:34] ahmetozalp commented on #95
maybe chrome.

Do you have any idea why there is no sound?

[2020-04-14 11:47] ahmetozalp commented on #95
I have to ask you something from the e-mail. Can you share it with me?

[2020-04-14 13:38] #95 closed

[2020-04-14 14:56] jeremija commented on #95
My email is in the commit history.

On Tue, Apr 14, 2020, 13:47 Ahmet <notifications@github.com> wrote:

[2020-04-14 16:19] ahmetozalp commented on #95
Have you ever used or heard about kurento?

[2020-04-15 00:43] ppriede commented on #64
For future reference:
The file to inclue in the config folder is:
config/local.**yaml**

Cheers!

[2020-04-15 05:37] initux opened #96 "don't install in docker"
**Describe the bug**
don't install in docker . If you give me install my server , i will pay you for this. Please contact with me. Skype: inituxsoft

**Bug Report Checklist**

[2020-04-15 12:46] jeremija commented on #96
Sorry, I don't have a Skype account. If you'd like professional support, please send me an e-mail to hello@rondomoon.com.

[2020-04-15 12:46] #96 closed

[2020-04-17 11:02] ahmetozalp opened #97 "WebRTC does not match in Microsoft Edge."
**Describe the bug**
WebRTC does not match in Microsoft Edge.

**Bug Report Checklist**

- [+] I have granted camera/microphone access permissions while testing
- [+] This bug is reproducible on https://peercalls.com

**To Reproduce**
Steps to reproduce the behavior:
1. Go to peercalls.com
2. Click on 'make room'
3. Open Edge Browser
4. See error

**Expected behavior*
Both sides see each other in

[2020-04-17 16:41] jeremija commented on #97
Thanks for reporting! I don't have a windows computer near me at the moment, but I'd be interested to see the console log when `localStorage.debug` is set to `peercalls,simple-peer`. Would you be able to provide the log?

[2020-04-17 18:43] ahmetozalp commented on #97
I do not have a windows computer, but I will tell my friend who conveyed this to me.

[2020-04-17 21:26] jeremija commented on #97
Thanks! Also I'd be curious if he can see the video when he joins the same room in two browser windows on the same machine.

It could also be a network issue. Was he able to connect in a different browser on the same computer?

[2020-04-17 21:40] ahmetozalp commented on #97
I haven't tried this, but nothing comes in username or something, it just looks like a connected device

[2020-04-19 13:46] jeremija commented on #97
I've tried this and it looks like simple-peer doesn't support edge: https://github.com/feross/simple-peer/issues/400

Initiating a connection from Edge to any browser fails because createDataChannel is not defined in `RTCPeerConnection`.

Initiating a connection from Chrome to Edge fails with `destroy (error: [object RTCErrorEvent])` in Chrome

Initiating a connection from Firefox to Edge fails wi

[2020-04-19 16:38] ahmetozalp commented on #97
In fact, I do not work in many browsers, for example, I sometimes live in android device browsers. There are 25 companies testing this now and I receive notification every day.

[2020-04-19 16:40] #97 closed

[2020-04-19 16:41] ahmetozalp commented on #97
but this macbook Edge does not have a working solution?

[2020-04-20 11:36] kubrickfr opened #98 "server-go build instructions"
Hello,

I've been watching the progress of development of the server-go implementation and I'm itching to give it a try and potentially contribute.

Would you be kind enough to provide build instructions?

[2020-04-20 11:49] jeremija commented on #98
Hi @kubrickfr, thanks for your interest in Peer Calls! Hope this helps:

# Running for development

Go 1.14 and NodeJS 8+ are prerequisites.

[code]

Run `npm run build` to build javascript and css, or `npm run start:watch` to watch for changes. Then run `npm start` to start the go server.

# Building a binary

To build a runnable binary, use:

[code]

These last `build:go` commands should work on

[2020-04-20 21:40] jeremija commented on #98
I've updated the [`README.md`](https://github.com/peer-calls/peer-calls/blob/server-go/README.md) on the `server-go` branch with all the necessary instructions, as well as the `Dockerfile`. The latest `alpha` tag is built automatically from this branch:

[code]

Feel free to reopen if you have any more questions!

[2020-04-20 21:40] #98 closed

[2020-04-21 12:41] michelmelo opened #99 "JWT"
hello how can we add jwt?

[2020-04-21 14:17] jeremija commented on #99
Hi @michelmelo, there are currently no plans to support any sort of authentication. Some people have had success by configuring a reverse proxy to [use basic authentication and then automatically set the nickname via `X-Forwarded-User` header](https://github.com/peer-calls/peer-calls/issues/77#issuecomment-602866489).

[2020-04-21 14:59] michelmelo commented on #99
I ask why yesterday I have the WS I need to send a token

ok it's basically something like this

this.socket = io("localhost:5000", {
      extraHeaders: {
        Authorization: "My Bearer authorization_token_here"
      }
    });

[2020-04-21 15:16] jeremija commented on #99
Hi @michelmelo, the `extraHeaders` property only works for `polling` transport, and not for `websocket` transport.

However, you should be able to access the cookie header on the server-side. See [`namespace.use`](https://socket.io/docs/server-api/#namespace-use-fn):

[code]

[2020-04-21 15:16] #99 closed

[2020-04-22 08:37] ahmetozalp commented on #94
@litashg did you solve the problem? the sound of the user with the camera turned off, but no video

[2020-04-22 13:52] ahmetozalp opened #100 "Mi Browser Permission Problem"
**Describe the bug**
A clear and concise description of what the bug is.

**Bug Report Checklist**

- [] I have granted camera/microphone access permissions while testing
- [+] This bug is reproducible on https://peercalls.com

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'mi browser'
2. Click on 'peercalls'
3. See error

**Expected behavior**
A clear and concise description of what

[2020-04-22 15:14] jeremija commented on #100
What are the results when you open this page: https://test.webrtc.org/ ?

[2020-04-22 15:34] #100 closed

[2020-04-23 12:05] kubrickfr commented on #98
Perfect! Thank you, I'll give it a shot.

[2020-04-24 10:56] ahmetozalp opened #101 "Reconnection"
Hello, I noticed something at peercalls.com. The connection has a black screen user renewal reconnecting. During the broadcast, I think my codes are a bit old.

where are you doing this I update my codes

[2020-04-24 12:03] jeremija commented on #101
Hi @ahmetozalp. Could provide steps to reproduce? Or could you record a video so I can see what's going on? Thanks!

[2020-04-24 15:31] ahmetozalp commented on #101
I'll send it as soon as possible

[2020-04-24 16:26] mxvin opened #102 "Changing TURN server options on Client App instead from Server conf"
Hi,
Is that possible to adding options change TURN server that being used on particular session?
this capability will help people that don't want to bother with building and hosting peercalls on their instance, instead they have private TURN server that will handle the calls, and that will lighten some server loads :)
Thanks

[2020-04-24 17:31] jeremija commented on #102
Hi @mxvin, that's a very good question. The first thing that comes to mind is that the ICE server configuration would need to be embedded in URL somehow. Usually all turn servers require authentication to prevent unauthorized access, since uncontrolled use could incur large data costs and server load.

The simplest form of TURN server authentication expires after a while. This might not work well

[2020-04-26 12:36] ghost opened #104 "Federate with Jami and Tox"
It would be great to have the possibility for `peer-calls` users to interact with a user that uses Jami or Tox. What's the point of having so many different, non-federated apps that do the same thing? Who benefits from this redundancy? I believe no one..

[2020-04-27 11:22] hialvaro opened #105 "New logo design"
I made a new logo concept design for Peercalls. I hope you like it, but there's no commitment if you don't like it! Also, I'd like to know if it can be improved in any way.

<img src="https://framapic.org/y3jO0V9y7iKE/fRPkdqrGoeKG" alt="logo" width="350"/>
<img src="https://framapic.org/KtzG7GctLnNq/Eelx8oKiVVQN" alt="logo" width="350"/>

The background blue is the same from the actual web page. I

[2020-04-27 11:31] ahmetozalp opened #106 "Node Backend"
Why was the nodejs backend server development stopped? I see it stopped in v3.

[2020-04-28 13:41] ahmetozalp commented on #106
hellooo?

[2020-04-28 14:28] jeremija commented on #106
@ahmetozalp I'd like to remind you that **all development of Peer Calls is done in my free time**. Therefore, I will respond to issues whenever I have free time, unless you are a paying customer. I try to help as best as I can, when I can.

Also, the answer to your question is in the [README](https://github.com/peer-calls/peer-calls/blob/master/README.md). The master branch contains an implementat

[2020-04-28 14:30] ahmetozalp commented on #106
thank you. give me email address?

[2020-04-28 17:11] mxvin commented on #104
I think this kind of issue is not a bug.
And, that kind of integration kinda impossible because each app is build on different ecosystem, even technology used on that product is different. Jami using SIP with their own "OpenDHT" so it's P2P. Tox I believe also using similar approach, but not using SIP (correct me if I'm wrong)
peer-calls is based on webrtc, it's P2P but still need server to run on

[2020-04-28 17:32] jeremija commented on #106
My contact e-mail is also in the readme :)

[2020-04-28 17:34] #106 closed

[2020-04-28 18:16] jeremija commented on #105
Hi @hialvaro, thanks for the effort - I'll take it into consideration!

[2020-04-28 18:25] jeremija commented on #104
The bug probably got added from the issue template. Yeah, WebRTC is complicated enough on its own. After the SFU-related bugs are fixed, the next steps would be to:

1. Add multi-node SFU support, so that peers connected to different instances of Peer Calls could communicate. This would require these instances to know about each other.

2. Add subscribe/unsubscribe support for specific tracks. Rig

[2020-04-28 18:35] dhruvil2111 opened #109 "Multipoint Conferencing Unit (MCU) Setup in network type"
has anyone tried setting up mcu with peer-calls and also anyone solved sfu connectivity issue?
I want to make video conferencing for more than 10 people and I did some research and I find MCU more stable can anyone help me?

[2020-04-28 18:52] jeremija commented on #109
Hello, the SFU is currently on `master`, but the master branch is in alpha state until the bugs like these are resolved. I have a potential fix for these issues, but they use unmerged patches to github.com/pion/webrtc so I'm waiting for them to be merged first.

The MCU uses a lot more server side computing power since the server needs to do the transcoding and I don't have the resources to suppor

[2020-04-28 19:02] dhruvil2111 commented on #109
Thanks :)

[2020-04-28 19:02] #109 closed

[2020-04-28 20:10] jeremija commented on #109
No problem. If you like, I can let you know when I push the SFU fixes? It would be great if you could help me test it!

[2020-04-28 20:12] dhruvil2111 commented on #109
Sureee Let me know I can test it and thanks alot

[2020-04-28 20:41] DontUseGithub commented on #104
Are you implying that all decentralized networks have privacy issue?

[2020-04-29 05:07] jeremija commented on #104
No, but when it comes to video/audio streams of _private_ calls, people could be more sensitive about. I'm talking about traffic going through 3rd party SFUs, this is at least until insertable streams are supported in all major browsers.

[2020-04-29 09:52] dupeljan opened #110 "Client sent an HTTP request to an HTTPS server."
Hello! I'm a big fan of this project, but have a question, not a bug.

I use ubuntu-16.04
npm 6.14.4
node v12.16.2
go version go1.13.4 linux/amd64
chrome version 81.0.4044.122

I build and run server without TLS certificate successfully.
But when I add TLS on my server
`openssl req -nodes -x509 -newkey rsa:4096 -keyout key.pem -subj "/C=US/ST=Oregon/L=Portland/O=Company Name/OU=Org/CN=dupeljan.fvd

[2020-04-29 10:17] dupeljan commented on #110
Just realize, that  I used http://dupeljan.fvds.ru:3000/  instead of https://dupeljan.fvds.ru:3000/
It took long time to find out. Sorry for spamming.

[2020-04-29 10:17] #110 closed

[2020-04-30 10:07] hialvaro commented on #105
@jeremija Here you have all the files. Feel free to do whatever you want with them, even nothing:
https://anonfile.com/zcl5C6u1o6/peercalls_tar

[2020-04-30 11:56] jeremija commented on #105
Thank you so much @hialvaro!

[2020-05-03 17:16] Sameer-hesta opened #113 "Socket issue on server"
**Socket connection error**
A clear and concise description of what the bug is.
WebSocket connection to 'wss://demovideo.my-domain.com/ws/123/za80HWiFPN4H4LGAHyIAc7' failed: Error during WebSocket handshake: Unexpected response code: 426

[2020-05-03 17:30] jeremija commented on #113
Thanks for the bug report! Are you are running PeerCalls v4 (master branch) or v4? Can you reproduce this bug on https://peercalls.com/alpha ? if you're running v4?

[2020-05-03 17:57] Sameer-hesta commented on #113
Actually I have set up this on ubuntu by git. I install node v8.17.0 and go go1.14.2. When I try to run this on the development by the command `npm run start:watch` I get the following error
[            **wss] Error accepting websocket connection: failed to accept WebSocket connection: WebSocket protocol violation: Connection header "Keep-Alive" does not contain Upgrade**

And on the browser, I a

[2020-05-03 18:01] jeremija commented on #113
Are you running Peer Calls behind a proxy server?

[2020-05-03 18:02] Sameer-hesta commented on #113
Yes

[2020-05-03 18:23] jeremija commented on #113
You need to ensure your proxy is configured to support websocket connections for Peer Calls.

I'm using nginx, and it has these settings:

[code]

You need to find an equivalent for Apache, possibly the [wstunnel](https://httpd.apache.org/docs/2.4/mod/mod_proxy_wstunnel.html) module

[2020-05-03 18:27] Sameer-hesta commented on #113
Thank you but already enabled proxy_wstuneel

[2020-05-03 18:31] jeremija commented on #113
Do you have HTTP 2 enabled?

[2020-05-03 18:36] Sameer-hesta commented on #113
Yes

[2020-05-03 18:39] jeremija commented on #113
Can you try disabling it for `/ws` path? There's an issue with a websocket library (or Golang) with websockets and HTTP2: https://github.com/nhooyr/websocket/issues/4

[2020-05-03 18:41] Sameer-hesta commented on #113
Mate thank you for your response

I have modified apace config for WebSocket

  **RewriteEngine on
  RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
  RewriteCond %{HTTP:CONNECTION} Upgrade$ [NC]
  RewriteRule .* ws://localhost:3000%{REQUEST_URI} [P]**

and thats it

[2020-05-03 18:43] #113 closed

[2020-05-03 18:50] jeremija commented on #113
Glad you were able to resolve it!

[2020-05-04 10:33] poVoq opened #114 "Whiteboard support?"
Screensharing is nice, but for many uses a simple (shared?) Whiteboard is the better option. Especially if it allows simple uploading of PDFs or pictures to annotate during the live presentation.

There are some cool existing projects, but they might be hard to integrate.

But this looks like an awesome system to build upon: https://github.com/excalidraw/excalidraw
(Also in Typescript).

Thanks fo

[2020-05-04 12:39] jeremija commented on #114
This sounds like an interesting feature! I currently don't have the bandwidth to work on this, but it would be awesome to have it implemented at some point. If anyone is interested in submitting a pull request, I'd be happy to offer my guidance.

[2020-05-04 20:27] ahmetozalp opened #115 "socket emit"
Hello there,
I want to put socket emit on [this](https://github.com/peer-calls/peer-calls/blob/3ac505e13c2176cc952ddeb45bcc340b8a3d854b/src/client/actions/PeerActions.ts#L100) line, but I could not put it anyway. I still can't get used to the code architecture.

users in the same room

[2020-05-05 10:43] jeremija commented on #115
Do you want to send messages and files over websockets instead of a peer connection? Do I understand correctly what you're trying to do?

[2020-05-05 10:47] ahmetozalp commented on #115
<img width="793" alt="Ekran Resmi 2020-05-05 13 44 15" src="https://user-images.githubusercontent.com/7665820/81058352-f4d58180-8ed6-11ea-9722-aec64f7a0004.png">
<img width="1019" alt="Ekran Resmi 2020-05-05 13 46 05" src="https://user-images.githubusercontent.com/7665820/81058359-f8690880-8ed6-11ea-8e55-96a49abf9d7d.png">

[2020-05-05 10:48] ahmetozalp commented on #115
I want to transfer data from 2nd picture to 1st picture to work in the backend.

[2020-05-05 10:56] jeremija commented on #115
Why don't you just use `SocketActions` and send the data via websockets? You can then broadcast to other peers in room on the server side

[2020-05-05 11:40] ahmetozalp commented on #115
<img width="1049" alt="Ekran Resmi 2020-05-05 14 39 21" src="https://user-images.githubusercontent.com/7665820/81062226-47ff0280-8ede-11ea-95ed-88c035bcb063.png">

ReferenceError: document is not defined

Do you have any idea how to run this in the backend?

[2020-05-05 13:07] jeremija commented on #115
You can't access the document on the backend. Just send a plain object with the necessary information.

[2020-05-05 13:53] ahmetozalp commented on #115
thank you.

[2020-05-05 13:53] #115 closed

[2020-05-07 17:59] #75 closed

[2020-05-10 14:05] ahmetozalp opened #118 "Network: sfu what is this exactly"
I couldn't find a source in this language in my language. What is SFU exactly? my interviews 2 people maximum SFU is there any use for me?

[2020-05-11 06:17] jeremija commented on #118
SFU stands for Selective Forwarding Unit. It is a server component to which users upload their video packets, and then distributes it to other peers. As a result, each peet needs to encode and upload their video only once.

In a mesh network, the peers upload (and potentially encode) their videos to every other peer and this quickly gets expensive.

I'd say if you have a total of 2-3 users you pro

[2020-05-11 07:16] ahmetozalp commented on #118
actually some users are alive but i can't find the problem. these problems, when 2 people enter the conference, they see that they are 2 people but there is no communication with the camera and audio and after a while they have connection problem

_private turn server board_

[2020-05-11 07:41] jeremija commented on #118
Are you using v3 or v4?

[2020-05-11 08:08] ahmetozalp commented on #118
v3 :)

[2020-05-11 08:15] jeremija commented on #118
These sort of stability issues are the reason why I started the rewrite to `v4`. I'd be curious to hear if you experience any call quality improvements when using [peercalls.com/beta](https://peercalls.com/beta)? This instance has SFU enabled and I just recently had a conversation with 4 other peers from EU and USA without any issues.

[2020-05-11 09:02] ahmetozalp commented on #118
i can't use v4 i don't know golang language

Well, should I pay attention to something about this? how should i recognize the error

[2020-05-11 09:10] jeremija commented on #118
You have a few options in v3:

- Check the console logs after setting `localStorage.debug = 'peercalls,simple-peer'` and `localStorage.log = 1`. Make sure to referesh the page after this is set.
- Check the `about:webrtc-internals` in Chrome and `about:webrtc` in Firefox for any error messages.

[2020-05-11 09:41] ahmetozalp commented on #118
thanks.

[2020-05-11 09:41] #118 closed

[2020-05-12 18:30] vasupal1996 opened #119 "Lag in another peer call with SFU network mode"
I tested out a call on sfu network mode. There happens to be lag and jitteriness in the video output of the other peer.
Not Sure Why?

I tested it out by pulling the repo down to my localhost, also tested out at peercalls.com as well. Having the issue in both cases.

[2020-05-13 06:09] jeremija commented on #119
Hi @vasupal1996. Thanks for the report. To help me debug this, could you verify the following:

1. Which version of peer calls were you testing? If you don't have a version, a commit ID would help.
2. Were you using peercalls.com, peercalls.com/alpha or peercalls/beta to test?
3. Which browser were you using?
4. How many people were in the call?
5. Could you take a screenshots of Chrome charts for

[2020-05-13 08:50] vasupal1996 commented on #119
Sure, on my local, I pulled the latest master with the last commit 0f3bb8f2462d01e9f0c33c945f211571bed76399

 and as for chat used https://peercalls.com/beta/
but the issue was in both environments.

I used chrome on my mac (81.0.4044.138) as one peer and android with brave-browser as another, just 2 peers (not tested for more than two peers).

Here are some screenshots for debugging.
<img width="

[2020-05-13 08:56] jeremija commented on #119
Hmm interesting - thanks for sending these! Your packet loss is linearly increasing all the time. Are you testing this on a single or two (multile) devices?

Does it happen when you run the default `NETWORK_TYPE=mesh`?

Also if you run it with `mesh`, it would be great to see if your `packetsLost` chart looks the same.

If so, it could be due to your network quality. The browsers have better error

[2020-05-13 08:59] vasupal1996 commented on #119
This is on multiple devices Mac and Andriod.

[2020-05-13 09:02] vasupal1996 commented on #119
These are with MESH

<img width="1440" alt="Screenshot 2020-05-13 at 2 31 26 PM" src="https://user-images.githubusercontent.com/24826141/81793041-75732e00-9526-11ea-988a-e02ae927f89c.png">
<img width="1440" alt="Screenshot 2020-05-13 at 2 31 13 PM" src="https://user-images.githubusercontent.com/24826141/81793058-799f4b80-9526-11ea-931d-f6b7fcf3d1af.png">

[2020-05-13 09:16] vasupal1996 commented on #119
Could it be the case of latency due to geographic location, cause I'm in India and probably your server is hosted in the US zone?

[2020-05-13 09:33] jeremija commented on #119
It could be fore the SFU, but I see that you also have a quite big packet loss on the `mesh` network. Are this last charts from your local Peer Calls instance?

[2020-05-13 09:53] vasupal1996 commented on #119
Yeah! Well i kinda actually exposed my localhost to internet through tunnelling service ngrok.io which i just now realized is routing the packets to some US server.

However, when i run it on localhost port in multiple window. It works fine.

Could it really be the case of geographic location?

[2020-05-13 10:12] jeremija commented on #119
Geographic location now makes perfect sense! Ngrok might also throttle your connection, especially if you aren't a paid customer.

If you wish to test on your local network use this command:

[code]

And access the app via `https://<your_ip_or_hostname>:8443`

Just make sure to accept the insecure connection on your devices.

[2020-05-13 10:31] ahmetozalp opened #120 "Screen Not Reload"
Hello there,

I connected via phone and computer and tried to upload a file from my cell phone, the screen went down on me like in the video, but it did not come again, only sound and black screen but when I look at peercalls.com, this area is constantly renewed, how do you do this? It's just enough for me if I find out how you did it.

Chrome WebRTC Log line:
STUN allocate request timed out.
OR
T

[2020-05-13 10:39] ahmetozalp commented on #120
There is no problem in peercalls.com v3

[2020-05-13 10:58] vasupal1996 commented on #119
Thanks

[2020-05-13 10:58] #119 closed

[2020-05-13 10:58] ahmetozalp commented on #120
case STREAM_TRACK_ADD:
      return addStreamTrack(state, action.payload)

not working.

thx.

[2020-05-13 10:58] #120 closed

[2020-05-13 11:03] jeremija commented on #120
Hi @ahmetozalp, are you still experiencing the issue? I haven't had the chance to see the video

[2020-05-13 11:05] ahmetozalp commented on #120
I live STREAM TRACK ADD does not trigger at all

[2020-05-13 11:05] ahmetozalp commented on #120
Proje hatası video bağlantım: https://youtu.be/mn8Ftk1ssJo
Peer Calls video bağlantısı: https://youtu.be/s3hVOF7IT8k

[2020-05-13 11:10] jeremija commented on #120
have you tried peercalls.com/beta ?

[2020-05-13 11:17] ahmetozalp commented on #120
<img width="948" alt="Ekran Resmi 2020-05-13 14 17 02" src="https://user-images.githubusercontent.com/7665820/81806000-828f1d80-9524-11ea-93d7-f86467688557.png">

[2020-05-13 11:23] jeremija commented on #120
Can you reproduce this on https://peercalls.com/beta ?

[2020-05-13 11:26] ahmetozalp commented on #120
<img width="907" alt="Ekran Resmi 2020-05-13 14 25 56" src="https://user-images.githubusercontent.com/7665820/81806824-ad2da600-9525-11ea-8867-9df951bb980c.png">

[2020-05-13 11:33] ahmetozalp commented on #120
thank you problem fix.

`handleTrack = (track: MediaStreamTrack, stream: MediaStream) => {
    const { user, dispatch } = this
    const userId = user.id
    debug('peer: %s, track', userId)
    // Listen to mute event to know when a track was removed
    // https://github.com/feross/simple-peer/issues/512
    track.onmute = () => {
      debug(
        'peer: %s, track mute (id: %s, stream.id: %s

[2020-05-13 11:58] ahmetozalp commented on #119
did you fix the problem? @vasupal1996

[2020-05-13 14:02] vasupal1996 commented on #119
Yes! Indeed it was a latency issue due to geographic location. I managed to host the server in my region and was working fine.

[2020-05-13 16:10] jeremija commented on #97
@ahmetozalp Peer Calls works under the latest version of Microsoft Edge, which is based on Chromium. I just tested this:

<img width="1400" alt="image" src="https://user-images.githubusercontent.com/1489493/81837163-c72ab100-9544-11ea-9351-cdef090327ac.png">

Unfortunately, I think it has to be installed manually from the start menu (bottom left corner):

![image](https://user-images.githubusercon

[2020-05-13 16:20] ahmetozalp commented on #97
We bought this system for testing. Yes, the versions I marked are working.

<img width="1651" alt="Ekran Resmi 2020-05-13 19 17 57" src="https://user-images.githubusercontent.com/7665820/81838425-c4cd5480-954e-11ea-9e0a-75f549bf6725.png">

[2020-05-15 19:17] ahmetozalp opened #121 "error codec"
error in console when I connect to new partner

https://github.com/peer-calls/peer-calls/blob/1ca84bfe53ad7ec1c304cfe53c07241fa552a28a/src/client/codec/index.ts#L312

![Ekran Resmi 2020-05-15 22 16 37](https://user-images.githubusercontent.com/7665820/82088050-c5561e80-96f9-11ea-9667-51d2b9000f79.png)

[2020-05-16 05:44] jeremija commented on #121
@ahmetozalp can you reproduce this on https://peercalls.com ?

[2020-05-16 10:26] ahmetozalp commented on #121
there is no error there I've been copied codec for v3.

[2020-05-17 00:14] ahmetozalp commented on #121
It is important for me to do this. Can you tell me what I have to do?

[2020-05-17 10:11] jeremija commented on #121
@ahmetozalp I do not understand how do you expect me to help here? If you cannot reproduce this bug on peercalls.com, or on a local **unmodified** instance of Peer Calls, then there's no issue to fix.

It looks like your sender is not encoding messages into chunks like it should be:

https://github.com/peer-calls/peer-calls/blob/f553d3fd1f52eb10d55e37209a480a5a3cfaf0e9/src/client/messaging.ts#L41-

[2020-05-17 10:14] #121 closed

[2020-05-17 19:16] ahmetozalp commented on #121
There is no problem in messaging when this other spouse is connected to the channel gives this warning.

[2020-05-17 21:04] ahmetozalp commented on #119
You set up my turn server

[2020-05-18 11:53] mykeels opened #122 "Please add auto-mute, or auto-video off"
**Describe the feature**
Please add the ability to mute all users who join, or have their videos off by default, unless they choose to turn either device on.

[2020-05-19 09:27] iesreza opened #123 "Clustering in mesh mode"
I tried to have two instances of peer calls in mesh mode and used a common redis to share data between instances.

First i faced a problem: the ws always returns client size 0, i found that the names (metadata) was not written in redis so i put their id instead of their name. i think there are some issue with negotiation.

Then i can see empty boxes of all users but not the live videos. could you

[2020-05-19 17:03] iesreza opened #124 "Integration with pion flutter sdk"
Since peer calls uses pion core is it possible to integrate pion flutter sdk?

[2020-05-19 20:06] jeremija commented on #123
Thanks for pointing this out @iesreza! That was indeed a bug.

I was focusing on the SFU to work, and currently SFU only supports a single node. Once I implement transports for server node-to-node communication, that'll be the time write more tests for redis support.

In the meantime, please let me know if you are stilll experiencing issues with redis when using the mesh network?

[2020-05-19 20:08] jeremija commented on #124
If you're referring to [ion-flutter-sdk](https://github.com/pion/ion-sdk-flutter), that was built to work with [`pion/ion`](https://github.com/pion/ion/), which is a separate project. Peer Calls currently uses only `pion/webrtc`, which is what `pion/ion` uses under the hood as well.

[2020-05-20 12:05] iesreza commented on #123
You done great job.
Unfortunately i faced some issue when i tried clustering using mesh mode. i can get list of users but not the live video. i think its related to storing data on redis.

For now i accomplished to make cluster in memory mode using path hash load balancing.

[2020-05-20 20:18] jeremija commented on #123
Sorry to hear you're still having issues. I'm going to have a deeper look at this over the weekend.

[2020-05-23 08:00] #123 closed

[2020-05-23 08:00] jeremija commented on #123
@iesreza This should be fixed now. Please reopen the issue if you continue experiencing problems!

[2020-05-27 10:50] mrostamii opened #125 "Adding font"
As I've seen in the `_variables.sass`, there are two variable

[code]

How to add/install a new font pack to the project?

[2020-05-27 15:52] ahmetozalp commented on #125
Hello,

1. Go https://fonts.google.com
2. Select Font
3. Righ Select this style click
4. Embed tab click
5. Copy
[code]
6. _variables.sass add line.
7. Editing
[code]

[2020-06-04 14:58] ahmetozalp opened #126 "auto code refresh"
**Describe the feature**

Hello, can you add something that can be loaded automatically?

example 3th party module: https://github.com/WebHotelier/webpack-fast-refresh

[2020-06-07 10:07] #101 closed

[2020-06-09 09:35] alainvanderbroeck opened #127 "Desktop sharing with desktop sound"
Hi,

When i play a video, the other ones cannot hear the video audio.
I think your code does not support hat yet.
Is this something you have planned for the future?

[2020-06-10 08:55] jeremija commented on #127
Yeah currently no audio is being sent. This is to prevent feedback. For example it might transfer back the audio of all speakers and thus cause feedback.

I'm wondering what's your use case for sending computer audio?

[2020-06-10 09:04] alainvanderbroeck commented on #127
Thanks for you answer.

I would like to preview a video production with a customer. (without uploading it to the cloud, because it is not finished yet)

[2020-06-11 07:35] jeremija commented on #127
Interesting! I'm going to try to add an option to share the computer audio as well. I'm just kind of swamped with other projects at the moment so it might take a few weeks.

[2020-06-11 08:08] ahmetozalp opened #128 "android front camera not working."
Hello there,

When I log in from the mobile android phone, there is no problem in the rear camera in the selection of the front and rear cameras, but I get an error when I select the front camera

Error: (NotReadableError: Could not start video source)

** Smartphone (please complete the following information): **
  - Device: Android Vestel
  - OS: 7.0
  - Browser: chrome
  - Version: 83

** Addit

[2020-06-11 09:52] jeremija commented on #128
Does it work here: https://webrtc.github.io/samples/src/content/devices/input-output/ ?

Also have you tried any other browser on this device?

[2020-06-11 10:18] ahmetozalp commented on #128
I tried it now, it works there, but peercalls don't

[2020-06-11 10:28] alainvanderbroeck commented on #127
Yes, we miss that in other applications like teamviewer. That is why we tried your solutions. Works well!
When you add this thing, you would make your app unique (in my opinion).

[2020-06-11 12:47] ahmetozalp commented on #128
The error in the screenshot was due to the operation in the camera application on a different tab

But this time I change the camera in the conference. I get this error. I have to stop the previous tracks. Can you take a look at this?

[2020-06-11 16:10] jeremija commented on #128
What happens if you select "No video" first, and then the other camera?

[2020-06-11 16:34] ahmetozalp commented on #128
running this time

[2020-06-12 09:50] ahmetozalp commented on #128
do you have any idea what i can do

[2020-06-12 12:35] jeremija commented on #128
I'm not exactly sure since I cannot reproduce this on any of my devices.

My guess is that `stop()` would need to be called on the previously selected `MediaStreamTrack` in `MediaDropdown` component before a new track for the other camera is obtained.

[2020-06-12 12:57] ahmetozalp commented on #128
I did research on the internet for a similar error. Previously, the camera says that it gave this error because the camera was not stopped, but I am not sure where to stop it.

[2020-06-12 13:03] ahmetozalp commented on #128
Firefox Error Messge: Abort Error Starting video failed.

[2020-06-12 19:16] ahmetozalp commented on #128
If you want, you can review the error with free membership on this site.

site: https://live.browserstack.com/
example phone: Xiaomi Redmi Note 7

[2020-06-15 08:54] ahmetozalp commented on #128
Hello, is there no way to stop the cameras?

[2020-06-15 17:44] jeremija commented on #128
Like I sad in my last post, this is what probably needs to be done:

The problem is that if we `stop()` the track, I'm not sure if we will lose the ability to use `replaceTrack` in the `RTCPeerConnection`. Perhaps that doesn't matter and everything will continue working as it currently is.

So to sum up, a potential fix would pass current local `MediaStreamTrack` to `DeviceDropdown` component, and

[2020-06-17 16:57] dpanyam opened #129 "Unable to get this setup working on DO droplet"
Hello ,

 I have setup  peer calls running as a docker container  on a Digital Ocean droplet. ( 1GB RAM , 1VCPU).  We are testing it by using the desktop client from chrome  ( not mobile client) only with 2-3 users so far. We can see each others name displayed in the meeting link but there is no audio or video at all. We tried with network setting as mesh and also sfu. Can someone help  this is ur

[2020-06-18 07:46] #128 closed

[2020-06-18 07:46] #126 closed

[2020-06-21 20:03] subhendukundu commented on #62
Now that we are V4, SFU is implemented, did we do a performance test?
So that number would excite people.
For example how many users did we try with number of core machines etc and how much was the utilization on the video quality?
If we haven't done any, I would love to contribute to this one.

[2020-06-22 12:25] ahmetozalp commented on #129
Have you set up the turn or stun servers?

[2020-06-22 13:13] dpanyam commented on #129
Using the default STUN server from google. Need to check on TURN if a default exists here also then we are using it

[2020-06-25 20:55] jeremija commented on #129
@dpanyam sorry for the late reply, you can run your webrtc connectivity check on https://test.webrtc.org

if reflexive connectivity fails, but relay is ok, you most likely need a TURN server. the instructions on how to set up coturn are in the readme.

[2020-06-25 21:02] jeremija commented on #62
@subhendukundu yeah that's on my TODO list but I can't seem to find the time.

There's https://github.com/pion/ion-load-tool and perhaps it can be modified to put a load on Peer Calls.

In the current version of Peer Calls is that every peer will subscribe to every other peer. Perhaps this can be made in a better way, for example to only request the video of active stream. Once multicast support i

[2020-06-25 21:14] subhendukundu commented on #62
So how many do support at the moment in one room? Did you ever find out that?
So I was thinking to work on end to end encryption for SFU with Pion ion, as I see its not gonna be that difficult to do.
Curious how different peer-calls over pion/ion? I saw under the hood they use nats-server.

[2020-06-26 02:44] dpanyam commented on #129
No problem. Thanks for the reply Jerko. I shall run the tests and debug
furthur

Regards
Dheeraj

On Fri, Jun 26, 2020 at 2:26 AM Jerko Steiner <notifications@github.com>
wrote:

[2020-06-26 03:32] dpanyam commented on #129
I just went through the README. Looks like it comes with a default TURN
server and it should have worked in our case though the bandwidth is not
unlimited. We are testing with only 2-3 users.

On Fri, Jun 26, 2020 at 2:26 AM Jerko Steiner <notifications@github.com>
wrote:

[2020-06-26 07:44] dpanyam opened #130 "Deployment on Google Cloud"
Any special configuration to keep in mind while deploying on Google Cloud Platform ( GCE and GKE)?. I see settings for Amazon EC2 instances in TURN server conf file anything similar for GCE/GKE on Google Cloud.

[2020-06-26 09:33] ahmetozalp commented on #129
Can you share the chrome browser logs during the conference?

Chrome Link:  chrome://webrtc-internals/

[2020-06-26 10:52] dpanyam commented on #129
Hi Ahmet,

 Please find attached the browser logs.

Regards
Dheeraj

On Fri, Jun 26, 2020 at 3:03 PM Ahmet <notifications@github.com> wrote:

{
 "getUserMedia": [
  {
   "audio": "",
   "origin": "https://webrtc.d3vtech.com:3000",
   "pid": 2109,
   "rid": 548,
   "timestamp": 1593168350234.429,
   "video": ""
  },
  {
   "audio": "",
   "origin": "https://webrtc.d3vtech.com:3000",
   "pid": 2109,

[2020-06-26 11:32] ahmetozalp commented on #129
there is no problem in connection

[2020-06-26 11:37] dpanyam commented on #129
Thanks for analysing the logs. The issue is we tried with 2 and 3 persons
joining the call from desktop ( not mobile client). We can neither see each
other or hear

Regards
Dheeraj

On Fri, Jun 26, 2020 at 5:02 PM Ahmet <notifications@github.com> wrote:

[2020-06-26 11:42] dpanyam commented on #129
To give you more context. It works if the users are within USA but  when they users login from India and USA we face this issue.

[2020-06-26 12:02] ahmetozalp commented on #129
would you test here?

https://peercalls.com

[2020-06-27 12:23] dpanyam commented on #129
Hello Ahmet,

   We tested with https://peercalls.com also . It is not working. what we see is just the userid / name no audio or video

[2020-06-27 17:59] jeremija commented on #129
@dpanyam can you share the results of the webrtc connectivity test from here: https://test.webrtc.org/

[2020-06-28 03:27] dpanyam commented on #129
Attached results from connectivity tests
![Uploading Screen Shot 2020-06-28 at 8.56.44 AM.png…]()

[2020-06-28 03:30] dpanyam commented on #129
Sorry closed this issue by mistake can someone reopen please , thanks?

[2020-06-28 05:13] jeremija commented on #129
@dpanyam I got the email saying you uploaded the test results, but I don't see that message here.

[2020-06-28 05:24] dpanyam commented on #129
Thank you so much @Jerko.  Please find attached the results of the test

On Sun, Jun 28, 2020 at 10:43 AM Jerko Steiner <notifications@github.com>
wrote:

[2020-06-28 05:45] jeremija commented on #129
Thanks for sharing. Do you ever see the `Peer Connection Established` message in the log in the upper right on peercalls.com? Or does it get stuck at `Connecting to peer...`? You can click on the message to see the full log.

[2020-06-28 06:48] dpanyam commented on #129
No i don't see connection established  so far i tried several times. I see "Connecting to Peer....."  . I didn't know i can click on that message to see log. I will try with my peers once they are available and get you the logs.

[2020-06-28 12:22] ahmetozalp opened #131 "Connection through the server"
Hello, I want to make a webrtc connection through the server and transfer the link to ffmpeg. How can I do this? Can you give free or free support?

example connection: https://github.com/t-mullen/wrtc-to-ffmpeg/tree/master/test

As in the link above, I want to take the webrtc link and make a video recording, I added a few things for this, but it did not work.

[code]

system: v3
file: https://git

[2020-06-28 12:48] ahmetozalp commented on #131
I want to include the server in the room and register, so how do I do that?

[2020-06-28 16:36] dpanyam commented on #129
Looks like cert for peercalls.com has expired few hours back.

[2020-06-28 16:55] dpanyam commented on #129
We deployed on a GCE VM instance and this is what we see. Please see attached screenshot
<img width="183" alt="Screen Shot 2020-06-28 at 10 24 11 PM" src="https://user-images.githubusercontent.com/11291110/85953495-4148b500-b98e-11ea-8b80-3c29b8b87824.png">

[2020-06-28 17:34] jeremija commented on #129
Sorry about the certificate issue and thanks for letting me know. My script for certbot has failed and I didn't see the alert. Should be fixed now.

Could you please try this on peercalls.com just to make sure it's not because of your setup?

[2020-06-28 17:58] jeremija commented on #131
Hi @ahmetozalp, I'm a little tight with time right now so I can't promise anything. I'll try to have a look over the next few days and see if there's an easy way to add this.

FYI Peer Calls v4.1 (not released yet, but should within the next month) will add basic support for distributed SFU, and that will include the ability to write an extension for server-side stream recording.

That said, the n

[2020-06-28 18:23] ahmetozalp commented on #131
Hello there,

deadlina is very close I need to do this, at least I need to connect from the server to the room and select the media. Do you have a look when you are available (v3)

[2020-06-28 18:47] jeremija commented on #131
I'm very sorry, but I am not in the position to adjust my schedule according to your deadlines. As I mentioned in my previous message, I will have a look when I find the time.

[2020-06-28 18:51] ahmetozalp commented on #131
Is this possible? can it be done?

thank you.

[2020-06-29 04:32] dpanyam commented on #129
Thanks for fixing the certs. Sure I shall try peercalls.com with my colleagues and let you know the results.  AFAIK I remember trying peercalls.com  about 1-2 weeks back and it didn't work but nevertheless will test again to confirm.

[2020-06-29 05:52] jeremija commented on #129
Which browser and operating system are you using?

[2020-06-29 06:31] dpanyam commented on #129
We are 3 users  ( 2 from India and 1 from US) all testing on  laptops ( not mobile clients). Two of us are on Mac OSX and one of them has Ubuntu OS . We all are using Chrome.

[2020-06-29 14:23] dpanyam commented on #129
@jeremija  We tried again today with 2 users from India and 1 from US. We cannot hear nor see each other. Attached log files
[Archive.zip](https://github.com/peer-calls/peer-calls/files/4846068/Archive.zip)

[2020-06-29 18:07] jeremija commented on #129
Thanks so much for the logs. I found the server side logs with the room ID and it looks like one person has connected successfully, but the other did not.

The ICE candidates show that the relay fails, I think. I will try to reproduce this and hopefully fix it.

[2020-06-29 18:07] dpanyam commented on #129
Thank You Sir

[2020-06-29 20:46] ahmetozalp commented on #131
Hello, I made this improvement, thanks for v3.

[2020-06-29 21:45] jeremija commented on #129
@dpanyam Could you do one more thing please?

If you could open peercalls.com, open the developer tools, write the following in the console:

[code]

press enter, refresh the page and enter a room, press join and then share the logs from the console?

It would be great help for debugging this. You can do it alone, there's no need for anybody to be in the room while you do it.

Thanks in advance!

[2020-06-29 21:49] jeremija commented on #131
Glad you made it work!

On Mon, Jun 29, 2020, 22:46 Ahmet <notifications@github.com> wrote:

[2020-06-30 05:28] dpanyam commented on #129
@jeremija  Please find attached the event logs

[Archive 2.zip](https://github.com/peer-calls/peer-calls/files/4849602/Archive.2.zip)

[2020-06-30 05:44] jeremija commented on #129
@dpanyam Thanks for doing it so quickly! In which format are these logs? They don't seem to be plain text files and I don't know how to read them.

[2020-06-30 06:23] dpanyam commented on #129
Ah i see the same sorry. I used chrome://webrtc-internals and then there is a button that says "create a dump..". It generates logs for events and also audio. Maybe i did not choose the right browser window.

Please see if this log helps. Sorry
[webrtc_internals_dump (3).txt](https://github.com/peer-calls/peer-calls/files/4849790/webrtc_internals_dump.3.txt)

[2020-06-30 07:40] jeremija commented on #129
Hi @dpanyam, thanks for the logs again. Unfortunately these are not the logs I'm looking for :(

I made a short video showing how to enable the client-side logging and  save them:

https://github.com/peer-calls/troubleshooting/blob/master/peer-calls-debug.webm

(you have to click `View raw` to view the video).

[2020-06-30 07:43] dpanyam commented on #129
That link is not working. I am getting a 404

[2020-06-30 07:46] jeremija commented on #129
Please try again, I accidentally marked the repository as private.

[2020-06-30 07:52] dpanyam commented on #129
Thanks for fixing. I can see the video  link but it doesn't play. I also tried clicking on play button . Please see attachment
<img width="361" alt="Screen Shot 2020-06-30 at 1 20 55 PM" src="https://user-images.githubusercontent.com/11291110/86099171-c4742300-bad4-11ea-8e4e-9ac377e962e5.png">

[2020-06-30 09:33] jeremija commented on #129
Oh can you try opening the video in firefox, or downlading and playing it?

Looks like it doesn't work in chrome due to GitHub's content security policy.

[2020-06-30 09:57] dpanyam commented on #129
@jeremija Thanks for taking time in making that video. Attached are logs without anyone else besides me joining peercalls.com
[peercalls.com-1593511013623.log](https://github.com/peer-calls/peer-calls/files/4850976/peercalls.com-1593511013623.log)

[2020-06-30 10:16] #125 closed

[2020-06-30 15:39] jeremija commented on #129
Thanks for uploading the logs @dpanyam. Did you execute the code below in the console?

[code]

I'm afraid there's very little data in the logs. Did you refresh the page after you set the `localStorage.debug` variable?

[2020-06-30 15:50] dpanyam commented on #129
Yes I saw that too ( very little debug data)  . Let me do that one more time

On Tue, Jun 30, 2020 at 9:09 PM Jerko Steiner <notifications@github.com>
wrote:

[2020-06-30 15:57] dpanyam commented on #129
@jeremija  No improvement. I see same logs. I am using Chrome on Mac OS

[2020-06-30 16:23] jeremija commented on #129
Very weird, I used the same browser during recording of the instructions. Can you please paste the result of `localStorage.debug` when you type it in the console on `https://peercalls.com`?

[2020-06-30 18:04] dpanyam commented on #129
For some reason the value is not getting set.  Please see attachment
<img width="1440" alt="Screen Shot 2020-06-30 at 11 33 36 PM" src="https://user-images.githubusercontent.com/11291110/86160984-34f95f00-bb2a-11ea-9686-7a960125e063.png">

[2020-06-30 18:07] jeremija commented on #129
What happens if you just type `localStorage`?

On Tue, Jun 30, 2020, 20:04 Dheeraj P <notifications@github.com> wrote:

[2020-06-30 18:10] jeremija commented on #129
Or you can try

[code]

[2020-06-30 20:38] csett86 commented on #129
Jumping in here (because I also had troubles enabling debug). You can set the value from Chrome -> Devtools -> Application -> Local Storage. Double-click on the line below "nickname" (initially empty) and add "debug" as key and "simple-peer,peercalls,peercalls:*" as value:

![Bildschirmfoto 2020-06-30 um 22 35 57](https://user-images.githubusercontent.com/1392875/86174645-55bdb680-bb22-11ea-8df3-5

[2020-07-01 08:06] dpanyam commented on #129
I see entry for debug already present and set to that exact value.

[2020-07-01 13:22] jeremija commented on #129
And still no logs after you refresh the page?

[2020-07-01 13:24] dpanyam commented on #129
Yes still no logs

[2020-07-01 13:34] jeremija commented on #129
Could you please post a screenshot of the output of just `localStorage` in the console?

[2020-07-01 13:39] dpanyam commented on #129
Please find attached the output of just localStorage in the console
<img width="692" alt="Screen Shot 2020-07-01 at 7 07 04 PM" src="https://user-images.githubusercontent.com/11291110/86250530-53b13180-bbce-11ea-8cd1-a4129b7934ba.png">

[2020-07-01 13:57] jeremija commented on #129
This is so weird, it looks like you have everything set correctly.

Would you mind opening the Application tab in dev tools, click on `Clear storage` on the left and `Clear site data`, and then refresh the page, retry setting the localStorage.debug variable and refresh the page?

<img width="546" alt="image" src="https://user-images.githubusercontent.com/1489493/86252420-7c77fd80-bbb3-11ea-9498-e0

[2020-07-01 14:27] dpanyam commented on #129
I checked log level to verbose in dev tools. Looks like there is more log info now. Please see attachment
[peercalls.com-1593613545082.log](https://github.com/peer-calls/peer-calls/files/4858430/peercalls.com-1593613545082.log)

[2020-07-01 17:34] jeremija commented on #129
Awesome! Could you try running these commands in the terminal and post the output:

[code]

[2020-07-01 17:36] dpanyam commented on #129
Attached output from both the curl commands
<img width="612" alt="Screen Shot 2020-07-01 at 11 05 40 PM" src="https://user-images.githubusercontent.com/11291110/86274540-76077700-bbef-11ea-9608-c8cde35b4d98.png">
<img width="634" alt="Screen Shot 2020-07-01 at 11 05 23 PM" src="https://user-images.githubusercontent.com/11291110/86274553-7a339480-bbef-11ea-85e4-db3f805b9d44.png">

[2020-07-01 17:45] jeremija commented on #129
Could you try running the test from this link? No need to give the camera permissions.

https://test.webrtc.org/?turnURI=turn%3Artc.peercalls.com&turnUsername=1593711675%3Apeercalls&turnCredential=jjCOXMx7%2BCLXiCZiTaDo%2B6xhOAo%3D

Note that this TURN credentials will expire in an hour, so if you don't see this message in time, let me know and I'll update the link for you.

[2020-07-01 17:50] jeremija commented on #129
The network and connectivity sections will be the most interesting to me. It would be awesome if you could expand all sections and paste here. Feel free to mask/remove your IP address from the logs. For example:

[code]

[2020-07-02 03:40] dpanyam commented on #129
@jeremija Can you please send me a new test link? By the way the the network and connectivity logs are still missing ? I don't see them in the logs i sent you. Will this link generate those logs?

[2020-07-02 05:55] jeremija commented on #129
@dpanyam These logs I sent are from test.webrtc.org, you have to click on each section and subsection to expand it:

![image](https://user-images.githubusercontent.com/1489493/86321460-5137f180-bc39-11ea-8246-08354ee4e29c.png)

Here's the new link: https://test.webrtc.org/?turnURI=turn%3Artc.peercalls.com&turnUsername=1593755545%3Apeercalls&turnCredential=ar0oXIicZUZ8QEu7%2BsnVE4Tf7FE%3D

If you t

[2020-07-02 06:04] dpanyam commented on #129
Thanks for the new link.  I don't see any option under dev tools -->
console . How do i download the logs? As i see it is performing some tests

On Thu, Jul 2, 2020 at 11:25 AM Jerko Steiner <notifications@github.com>
wrote:

[2020-07-02 06:05] jeremija commented on #129
I just expanded all items and copied the text for `Network` and `Connectivity` sections.

[2020-07-02 06:10] dpanyam commented on #129
Okay got it sorry. Here's the output from network and connectivity sections
<img width="689" alt="Screen Shot 2020-07-02 at 11 39 27 AM" src="https://user-images.githubusercontent.com/11291110/86322542-cf57c080-bc58-11ea-930f-f35ef732f7ab.png">

[2020-07-02 06:13] jeremija commented on #129
Thanks! Are you behind some sort of (corporate) firewall?

[2020-07-02 06:19] dpanyam commented on #129
No. I am working from home and behind my ISP

[2020-07-02 06:39] jeremija commented on #129
I'm sorry I'm not able to provide better support. We now know it's definitely something to do with connection to TURN server. The timeout errors are the worst to debug. Perhaps it's because of your geographical location?

The peercalls.com server is hosted in Amsterdam (also on Digital Ocean), and perhaps the network connectivity between EU and India just lags too much. I had another user from Ind

[2020-07-02 08:23] dpanyam commented on #129
Well i think it should work fine with just 3 users no?  There is no audio or video at all. I just see the other users name / id  in the peer calls console.  Thanks for your time and appreciate your help all these days. Looking forward to a different test that you mentioned.

[2020-07-02 14:32] jeremija commented on #129
The number of users is not a problem, it's something about your particular internet configuration. Very curious to find out what it is!

[2020-07-02 15:22] dpanyam commented on #129
Okay. I am curios too :) .  By the way even my colleagues who are logging in from India ( different regions not anywhere close) are experiencing the same issue.

[2020-07-03 08:37] ahmetozalp commented on #131
Hello,

I'm having trouble getting the server to the room. Can you give me a simple connection example?

When the 1st user triggers, the server will connect to the room and listen to 2 users.

example
[code]

Connecting 1 side, not connecting the other part. What should I do?

[2020-07-03 14:37] #131 closed

[2020-07-04 13:14] igorthetigor commented on #10
Hey, @jeremija !
Is this enhancement still required?
I would like to contribute to your project.
Cheers

[2020-07-05 19:45] jeremija commented on #10
Hi @igorthetigor - thanks for your interest in Peer Calls. Unfortunately this is an old issue and since the `Share` button was added, I don't think this is really necessary. I'd like to keep the Peer Calls core simple. Do you have any experience with WebRTC? I'd love to add support for the new Insertable streams on the client side, but can't seem to find the time to work on it these days.

[2020-07-05 19:51] jeremija commented on #129
I think the problem is that your internet connection is unable to send or receive UDP packets, which are current required to establish the connection. Even with a TURN server, UDP packets are being used to send the ICE candidates.

I think after this PR is merged in pion/ice#226 (work in progress), and `pion/webrtc` is updated to use the new version of `pion/ice`, and Peer Calls is updated to use

[2020-07-05 20:03] jeremija commented on #130
Sorry I don't have any advice to offer about this. Perhaps someone with more experience on Google Cloud might chime in.

[2020-07-06 02:11] dpanyam commented on #129
Thanks @jeremija . I will check with my ISP

[2020-07-07 13:41] igorthetigor commented on #10
@jeremija  Thank you for the response. I really would like to contribute to you project.

I have a pretty good experience with webRTC. I spend like 4 month Jan-Mai, trying to realise an application from the scratch.
I was signaling and messaging via Node.js and Websocket. After trying implement Pion as turn Server and still receiving errors,
I found your solution and it was much more mature then w

[2020-07-09 04:55] dpanyam commented on #129
@jeremija My ISP told me that they do not block any ports.

[2020-07-09 06:00] jeremija commented on #129
Thanks, perhaps there is another reason why these packets never reach the server.

Anyway, I'm pretty close to having an alpha version that supports ICE TCP standard and I just have to make it stable. I'm 99% sure this should help with your issue.

[2020-07-09 06:02] dpanyam commented on #129
Thanks @jeremija  will wait for your fix.

[2020-07-12 01:12] moosh3 commented on #24
I am looking to implement this exact functionality. Supporting an interface that defines a generic `Notifier` could allow sending notifications via email, SMS, etc.

[2020-07-13 19:44] jeremija commented on #24
The `Copy the clipboard` button is already there on desktop, and it switches to `Share` button on mobile browsers that support this functionality. I'm closing this in favor of #10.

[2020-07-13 19:44] #24 closed

[2020-07-13 19:50] jeremija commented on #10
Hi @igorthetigor, thanks for your interest and sorry for the delay.

The screen capture API is already in use, but the issue you linked is just about enabling desktop sharing to capture audio as well. If you look for `getDisplayMedia` function in `MediaActions.ts`, you'll notice that `audio` is set to `false. This is to prevent feedback since I think that all sound of existing users would be trans

[2020-07-17 07:28] carstenjacobsen opened #135 "Changing nicknames"
This is an incredible project, I'm learning so much from playing around with this project.

I have a question about changing nicknames after connecting. I'm working on a feature to be able to change the nickname, but I'm not having much luck with it. Ive tried to use `setNicknames()` from `NicknameActions`. If I change a nickname with `setNicknames()` and call `getState().nicknames` right after, i

[2020-07-17 09:29] jeremija commented on #135
Hey @carstenjacobsen - glad to hear you like Peer Calls! This functionality used to exist but I removed it during a refactoring. I cannot remember if I was just trying to keep things simpler or if something else had changed what would prevent reliably updating the nicknames.

I think this comment is where this functionality got removed. Hopefully you can use it to see what needs to dispatch a nick

[2020-07-19 06:20] jeremija commented on #129
Hey @dpanyam this took longer than expected, but I believe I finally have a fix for your issue.

When you have time, can you try to connect out on the `/alpha` URL: https://peercalls.com/alpha ? Thanks!

[2020-07-19 07:16] dpanyam commented on #129
No problem. Thank you so much. I shall try and will get back to you with the results.

[2020-07-19 09:17] vpanichkin opened #136 "Stream recording"
Thank you such an incredible project.

I am working on recording feature. Is there some way to take a combined stream(all inputs+own stream) from one random user and send it elsewhere while I am using mesh network?

[2020-07-19 09:53] jeremija commented on #136
Hi @vpanichkin, thanks for your interest in Peer Calls! There are several options for recording streams, but sadly none are implemented yet. See below:

1. Use a client-side library such as https://recordrtc.org/
2. Have another peer join the room that would as a WebRTC client that would record all RTP (video and audio) packets sent to it.
3. Wait until the #132 is fully implemented and merged (mi

[2020-07-19 17:04] dpanyam commented on #129
@jeremija  We tested the alpha link with 5 people joining from US and India and it worked perfectly both audio and video. Thank you so much. Is your fix merged to master branch or do  i have to use a particular branch?

[2020-07-19 18:54] jeremija commented on #129
@dpanyam awesome, I'm really happy to hear this!

This code has not been pushed to GitHub yet I built it locally since I was waiting for this MR to be merged: https://github.com/pion/ice/issues/249

This is now done and I'll try to push a new version within the next few days and let you know!

[2020-07-19 19:48] kristiandrucker commented on #130
@jeremija @dpanyam I'm going to try to deploy this on GKE behind a NAT instance. Tried deploying PION ION but that was very hard and just stumbled on this project which is based on PION which is great. Will update this ticket with those configs if I get it to work.

[2020-07-22 11:00] vpanichkin opened #137 "Cannot connect within local network"
**Describe the bug**

[code]

**Steps To Reproduce**

1. Create certificate
[code]

2. Run server with the correct certificate pathes :
[code]
6. Access `https://192.168.0.136:3000` from other device

**Current behaviour**
White screen, the request fails with timeout

**Expected behavior**
The site should load.

**Desktop (please complete the following information):**
 - OS:      Ubuntu
 - Browser

[2020-07-22 11:53] vpanichkin commented on #137
Windows: works
Ubuntu+docker: works
Clean Ubuntu: doesn't work

[2020-07-24 11:08] dpanyam commented on #130
@kristiandrucker Any update on your deploy to GKE?

[2020-07-25 09:37] jeremija commented on #137
Does it work with pregenerated example certificates in `config/` folder?

[2020-07-30 09:42] vpanichkin commented on #137
No, HTTPS connection doesn't work either on Ubuntu

[2020-07-30 09:50] vpanichkin commented on #136
Thank you for such a thorough answer. I decided to go with 2 option.

For now, I just only have a problem with understanding handleSignal method.

There are two subscription:
` peer.on(constants.PEER_EVENT_SIGNAL, handler.handleSignal);  `
`socket.on(constants.SOCKET_EVENT_SIGNAL, handler.handleSignal);`

Both constants have both the same string='signal'. Could you explain on which stage is each e

[2020-07-30 10:03] vpanichkin commented on #136
Could you also specify, where the first signal is emitted after users event came(I assume the magic happens in Peer constructor) because I see neither `socket.emit('signal')` nor `peer.emit('signal')`

![image](https://user-images.githubusercontent.com/16993030/88910165-539f6280-d25c-11ea-9e9b-7c488528ae8d.png)

[2020-07-30 19:32] jeremija commented on #136
The `signal` events are generated by the https://github.com/feross/simple-peer library and this is what Peer Calls uses on the client-side. You might want to check the docs for more info.

It sends offers and answers SDPs, ICE candidates, and some other messages in a single event so connecting the two peers is as simple as:

[code]

But in reality you need to transport these messages somehow to th

[2020-07-30 19:33] jeremija commented on #137
I'll try to test it on my Linux machine. Until I do, what kind of error do you get in the browser?

[2020-08-01 09:49] jeremija commented on #129
@dpanyam I'm excited to let you know that support for ICE TCP has been added in https://github.com/peer-calls/peer-calls/pull/140

This is available in `v4.0.7`. See the `ICE TCP` section in [README](https://github.com/peer-calls/peer-calls/blob/master/README.md#ice-tcp) for more info on how to enable it.

If you're still experiencing issues, please reopen this issue.

[2020-08-01 09:49] #129 closed

[2020-08-01 10:04] jeremija opened #141 "Add encryption support using a shared password (Insertable Streams)"

[2020-08-01 10:06] jeremija commented on #104
Closing this issue because federation is not within the scope of this project at the moment.

There is an WIP PR https://github.com/peer-calls/peer-calls/pull/132 that will eventually add suppors for multiple (Peer Calls) SFU nodes, but that's about it.

[2020-08-01 10:06] #104 closed

[2020-08-01 10:06] #124 closed

[2020-08-01 10:07] jeremija commented on #23
Closing this issue in favor of #141, which should add password access once it is implemented.

[2020-08-01 10:08] #23 closed

[2020-08-01 10:10] jeremija commented on #30
Switching camera dynamically after connecting has been possible since ef55c5c (`v4.0.0`)

[2020-08-01 10:10] #30 closed

[2020-08-01 10:11] #39 closed

[2020-08-01 15:57] jeremija commented on #137
If you're getting a warning like the one below:

<img width="651" alt="image" src="https://user-images.githubusercontent.com/1489493/89105247-cefd4180-d41f-11ea-9120-afff66e79606.png">

this is expected with self-signed certificate. You need to create an exception by clicking on `Advanced` and then on `Proceed to ... (unsafe)`; only then you'll be able to access the webpage. See the screenshot bel

[2020-08-01 15:57] #137 closed

[2020-08-09 15:49] jeremija opened #144 "Add support for ephemeral UDP ports"
When ICE TCP support is enabled, the host TCP candidates will have a higher preference than other currently supported UDP candidates: srflx, prflx and relayed. Even after https://github.com/pion/ice/issues/262 is fixed, passive ICE TCP candidates will have a higher preference because they are host candidates.

The `SettingEngine::SetEphemeralUDPPortRange` method in `pion/webrtc` should be utilized

[2020-08-10 17:23] vpanichkin commented on #137
I found a problem. The port was not exposed even inside local network.

This post helps me: https://askubuntu.com/a/1211681

[2020-08-14 20:22] chrismgonzalez commented on #141
@jeremija What would it take for e2e encryption to occur on devices using a custom built iOS, MacOS, Windows, or Android app?

[2020-08-15 08:42] jeremija commented on #141
Hi @chrismgonzalez, this is experimental technology. Out of all major browsers, I think Chrome is the only one that currently supports it, and it's hidden behind a flag .

I think Electron 9 has support for this as well (since it's based on Chromium), so that should make it easy to build a native Windows/Mac/Linux app. As for iOS and Android, unless if there's a React Native module for this, you'd

[2020-08-15 10:01] jeremija opened #145 "Encrypt DataChannel messages using the same API for Insertable Streams"
**Describe the feature**

[2020-08-15 10:02] #141 closed

[2020-08-20 09:53] ahmetozalp commented on #136
I have implemented it, it is very successful, it just does not end with it, but you will need to run ffmpeg. (v3 nodejs)

[2020-08-20 10:18] vpanichkin commented on #136
@ahmetozalp, could you share the code? I would really appreciate it!

[2020-08-20 10:25] ahmetozalp commented on #136
Sorry sorry I can't give the code but I can tell you how to do it.

[2020-08-20 10:30] ahmetozalp opened #146 "don't show the video is turned off"
**Describe the feature**

Hello, how can I tell if the user has the camera and microphone turned off. I really need this but I could not find a method.

[2020-08-20 13:36] vpanichkin commented on #136
No problem. Could you explain the approach you choose? I use approach 2 and kurento-media-server as a client. Unfortunately, I got stuck on ice candidate syncing

[2020-08-20 15:57] ahmetozalp commented on #136
My first attempt was kurento, but it does not work healthy and well, it produces very poor quality videos, sometimes it does not record at all.

I can give you an idea if you are using v3 nodejs.

[2020-08-20 15:58] ahmetozalp commented on #136
Include the server in the room and try to save the images with ffmpeg. This is how I did it. And I'm recording a very high quality video

[2020-08-21 10:28] vpanichkin opened #147 "Cannot negotiate IceCandidates"
I am working on adding kurento as a fully-fledged client to record the group call. The signalling process I established looks as follows:

1. Create offer on Kurento
2. Send offer to PeerCall Client
3. PeerCall Client generate Answer
4. PeerCall Client send answer to Kurento
5. The candidates gathering process is starting on both sides
6. Every party retrieve respective candidates
7. Connection is

[2020-08-24 02:32] dpanyam opened #148 "CGO error while building docker image"
****CGO error while building docker image** **
I am building the peer calls docker image from source on Ubuntu 18.04 with go 1.14 and docker 19 installed on it. I am getting this error while building can someone help me fix this?

**Steps To Reproduce**

Steps to reproduce the behavior:

1. Git clone the peer-calls repo
2. Introduce a new config.yml at this path  server/config.yml to setup your ow

[2020-08-24 07:29] ahmetozalp commented on #136
Hello,

If you want, we can talk on Linkedin.

[2020-08-25 11:49] dheerajd3v commented on #130
@kristiandrucker Hi just checking if you were able to make progress on this deployment?

[2020-08-25 12:42] Sidefix opened #149 "[Feature Request] YML config options"
**Describe the feature**

Hello!

This is a great server and it works wonderfully during WFH when I need to perform some troubleshooting for family members, and I was wondering whether it would be possible to include configuration options in the YML for additional things such as:

   - Enable or Disable Encryption option
   - Enable or Disable File Sharing
   - Enable or Disable Automatic Camera S

[2020-08-26 13:55] alainvanderbroeck commented on #127
Hi jeremija.
Did you already have time to look into this feature request?

[2020-08-29 11:22] jeremija commented on #127
Hi @alainvanderbroeck, I just pushed version 4.0.9 which has support for this. I'm waiting for the build to complete and then I'm going to push it to peercalls.com.

<img width="191" alt="image" src="https://user-images.githubusercontent.com/1489493/91635680-a5bdda00-e9fa-11ea-909f-05bf645c3cb8.png">

However, I noticed that in Chrome it only works when choosing a Chrome tab to share (and you have

[2020-08-29 11:43] alainvanderbroeck commented on #127
Thank you for your quick response.
We are looking forward to this feature. Many thanks!

We are going to try it this week. We'll let you know what our experience is.

[2020-08-29 13:05] #144 closed

[2020-08-29 13:09] jeremija commented on #147
Are you running Kurento in docker? The IP addresses of the candidates are different local addresses and connectivity won't be possible this way.

[2020-08-29 13:12] jeremija commented on #149
Hi @Sidefix, I suppose something like this could be implemented, but I currently don't have the time for this.

I'd be happy to provide guidance if you wish to try to implement it yourself and submit a pull request.

[2020-08-29 13:17] jeremija commented on #146
Unfortunately, I don't think the WebRTC API provides a method for this. The spec even mandates the browsers to send black frames for disabled local video tracks.

You'd have to capture the event when a user changes the audio/video settings and send a message via websockets or data channels to the other participants.

[2020-08-29 13:20] jeremija commented on #122
Sorry for responding this late to your message. What's the reason behind this? I think there could be a lot of confused users if they joined a call without the video and audio and they had to manually enable the audio/video capture.

[2020-08-29 19:14] jeremija commented on #127
Great - I'd recommend you to take a look at the Browser Compatibility table here: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getDisplayMedia#Browser_compatibility

Looks like Chrome and Edge on Windows and Chrome OS/Edge OS can capture audio of the whole machine, whereas on Mac and Linux it's limited to selecting a single Chrome tab only.

[2020-08-29 20:20] Sidefix commented on #149
Sure @jeremija I would give it a shot. Just let me know where the modifications need to be done and what tools I might need. I think I can manage from there.

[2020-08-30 09:39] Sidefix opened #150 "Can't enable Jitter Buffer"
**Describe the bug**
Jitter buffer parameter cannot be enabled from the yml.
There are no clear examples for this anywhere in the documentation, but I have tried every permutation:
- jitter_buffer: true
- jitter-buffer: true
- jitterbuffer: true

And in all instances, the configuration comes up as FALSE on startup log.

**Bug Report Checklist**
- [x] I havexample:anted camera/microphone access per

[2020-08-30 09:39] Sidefix commented on #150
Side-note: no other settings from the YML config suffer from this issue; everything else is getting read correctly.

[2020-08-30 10:06] mykeels commented on #122
Hi @jeremija

This is useful for a virtual classroom setting.

New participants do not need their microphones on, as it could disturb the flow of the sessions, and can enable it when they want to ask questions.

[2020-08-30 10:20] jeremija commented on #150
Hi @Sidefix, have you tried this config?

[code]

[2020-08-30 10:44] jeremija commented on #122
Hmm perhaps this could be configured via URL flags.

We could add UI options on the front page when configuring the call like. For example there could be two checkboxes:

- Mute microphone for new participants
- Mute video for new participants

And then this would be transferred via the following URL params:

```/call/:call_id?a=0&v=0```

And when `a` and `v` are set to `0` the users who open the

[2020-08-30 10:45] mykeels commented on #122
Looks great, thanks!

[2020-08-30 10:45] Sidefix commented on #150
![image](https://user-images.githubusercontent.com/26040103/91657098-0fa3b580-eac7-11ea-8704-93e14585d152.png)

Unfortuinately I have tried this exact permutation several times, as stated above. Please see attached screenshot.

[2020-08-30 11:33] #150 closed

[2020-08-30 11:34] jeremija commented on #150
Ah, thanks for reporting this bug.  Boolean values would always be set to `false` when there was no corresponding environment variable set. This should be fixed in `v4.0.12`.

[2020-08-30 11:46] jeremija commented on #149
A few things would need to be updated. First we'd need to be able to read these values from `yaml` or environment variables.
 I recommend adding the `disabled` prefix to the boolean values so that the default behavior stays the same.

For example:

[code]

Could you clarify by the meaning of the default room setting? Do I understand correctly that predefined rooms would only allow certain rooms to

[2020-08-30 12:19] jeremija commented on #149
Also I just realized that if the `ui.rooms` property would only allow a few predefined rooms to be joined, and the IDs should be hidden from the public then perhaps exposing it to the client side is not a good idea and the implementation of the `/call/:call_id` handler would need to be changed.

[2020-08-30 12:32] jeremija commented on #148
@dpanyam I think this is an issue with Docker on ubuntu and I'm not sure if there's a way I can fix it.

Take a look here: https://github.com/docker/docker-credential-helpers/issues/103#issuecomment-421822269

[2020-08-30 13:41] jeremija opened #151 "Define a single config variable instead of writing multiple values to hidden input fieds"
This is related to `call.html`.

Instead of having:

[code]

We should define a single config type:

[code]

[code]

And pass it to a single hidden input:

[code]

[2020-08-30 13:42] #151 closed

[2020-08-30 14:44] dheerajd3v commented on #148
I discarded the VM having this issue and stood up a new GCE VM  with same versions of docker, go, npm and node. Also i used the same package repo to install docker. Not sure what changed but it worked.

Thanks @jeremija appreciate your response.

[2020-08-30 16:00] jeremija commented on #148
Alright, glad you figured it out - I'm going to close this issue then.

[2020-08-30 16:00] #148 closed

[2020-09-03 05:12] dpanyam opened #152 "Need help in passing the config yaml as a parameter"
Hi ,

 I see this from the README  "**_Only a single ICE server can be defined via environment variables. To define more use a YAML config file. To load a config file, use the -c /path/to/config.yml command line argument_**"

My question is for the above to work do i need to rebuild the binary.  I want a self contained docker image that uses config yml and i don't want to pass the certs as command

[2020-09-07 21:21] chrismgonzalez commented on #152
This issue has been solved.  @dpanyam It would be great if we could write up an addendum to the docs and get a PR in so we can have that documentation here for others.

[2020-09-08 03:03] dpanyam commented on #152
Below are the changes in code / docker build to  have more than 1 ICE servers

### Problem Statement ###
The default setup allows only 1 ICE server to be passed in as command line arguments. To support multiple ICE servers a config.yml file needs to be created

### Steps ###

1. Edit config.yml  in peer-calls/server/config.yml  to add the STUN/TURN servers for your setup
2. Add a COPY step in Dock

[2020-09-08 03:03] #152 closed

[2020-09-08 05:05] jeremija commented on #152
I'm late to the party but I'm pretty sure you can specify an external config file without rebuilding the image.

For example:

[code]

*not sure if the above command works since I typed it on my mobile device, but you should get the picture.

[2020-09-08 05:09] dpanyam commented on #152
Okay. I am not sure if the position of that parameter matters but i see -c option with docker run command used to specify the CPU shares

[2020-09-08 05:25] jeremija commented on #152
Any arguments after specified after image name will be passed to whatever is defined in image's `ENTRYPOINT`, which is the `peer-calls` binary in this case:

[code]

Source: https://docs.docker.com/engine/reference/commandline/run/

[2020-09-08 05:34] dpanyam commented on #152
Thanks yes agree.

[2020-09-09 14:56] dpanyam opened #153 "Issues with deploying onto Kubernetes"
**Crashloop backoff error**
I followed the steps mentioned in the README under the heading "Deploying onto Kubernetes". My target environment was Google Kubernetes Engine ( GKE). I  found a couple of issues listed below

1. The deployment YAML uses a bash command to pass the config.yml for the ICE servers. Since scratch image does not contain any Linux shells PODS are not coming up
2. GKE has an i

[2020-09-10 06:07] jeremija commented on #153
I'm not that familiar with Kubernetes config files. Perhaps @moosh3 could help you with your first point?

As for point number 2, the main `Dockerfile` no longer uses Debian for builds - it uses Alpine instead and the final build does not contain any additional packages or binaries except the `peer-calls` binary.

[2020-09-10 06:18] dpanyam commented on #153
Thanks @jeremija . Yes I see Alpine used in the 2nd stage of the Dockerfile not sure why GCP is flagging the image as high risk. It is the same public image available on docker hub i did not make any changes.

I will wait on the first point

[2020-09-15 18:51] spriyedarshi commented on #153
Hi  @jeremija  this is related to the above mentioned project itself. we are trying to add the liveness probe and readiness probe  like below :apiVersion: apps/v1
kind: Deployment
metadata:
  name: peer-calls # Name of deployment
  labels:
    app: peer-calls
spec:
  progressDeadlineSeconds: 120
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
  replicas: 2
  selector

[2020-09-16 11:46] Archer-Thane opened #155 "chrome 85 cannot access to webcam and microphone"
**Describe the bug**

With no change on code, new chrome update (85) is not able to access to webcam and microphone via standard way of accessing it (with navigator.mediaDevices.getUserMedia). the reported error is: DOMException: Could not start video source.

[2020-09-16 12:01] Archer-Thane commented on #155
I also opened a stackoverflow.com question which I tried to explain the problem:
https://stackoverflow.com/questions/63919118/domexception-could-not-start-video-source-chrome-85-update

[2020-09-16 18:34] jeremija commented on #155
@Archer-Thane Works fine for me on Chrome for Android 85.

You have left some questions from the bug report template unanswered. Which OS are you using? Can you reproduce this on peercalls.com? If you're on the mobile device, could it be that the app does not have Camera or Microphone permissions?

[2020-09-17 05:37] jeremija commented on #153
I removed the bash reference from `deploy/deployment.yml`, and I fixed the path to `/probes/health`. Can you try using the `v4.0.13` image once it's built?

[2020-09-17 07:27] Archer-Thane commented on #155
@jeremija, since I thought that's a chrome bug, I didn't complete the report.
There is an issue submitted on chromium issue tracker which is responsible for this issue.
here is the link:
https://bugs.chromium.org/p/chromium/issues/detail?id=1128913

[2020-09-17 07:30] Archer-Thane commented on #155
For those experiencing this issue, just restore chrome to defaults:
1- open settings
2- on the end of page, click on advanced
3- click on restore to defaults
That's fix the isssue.
You can close the issue here, since this is not your code problem. Also this will be helpful for those encountering the same problem, since there is a little information about this bug. So as a solution, this can be use

[2020-09-17 12:29] dpanyam commented on #153
@jeremija Thanks for the fixes but I don't think these are related to the healthchecks failing. Also I noticed that the configmap name in deployment YAML does not match the name specified in configmap.yaml.

Are you referring to the docker image version 4.0.13?. I deployed that image and it didn't work error was with shell not existing in the image but why would this result in POD not coming up si

[2020-09-17 23:55] wagesj45 commented on #155
@Archer-Thane I'm not entirely sure that's an option. I just  tried running the official Docker image and neither Firefox 80.0.1 or Chrome 85.0.4183.102 were able to load a call. Both received a warning that the browsers were unsupported.

[2020-09-18 04:08] yedpodtrzitko opened #156 "Text chat recording"
Hi,
I'd like to implement a chat recording for calls. My idea is to offload the messages into a Redis, and from there I'll take care of them with a different app.

Since I'm not really that familiar with the codebase yet, I'd like to ask for a hint where to start. [Would this place]( https://github.com/peer-calls/peer-calls/blob/master/server/wssub.go#L95) be a good point where to do it?

Thanks f

[2020-09-18 05:35] jeremija commented on #155
@wagesj45 did you setup TLS? If not you'll only be able to access the cameras from `http://localhost:3000`

[2020-09-18 06:10] jeremija commented on #156
Actually, the chat messages used to be sent via websockets some time ago. If that were still the case, it would just be a matter of enabling the Redis adapter, and you'd be able to subscribe to these messages from another app without doing any of the extra work.

The chat messages are now sent via Peer Connection's Data Channels, so [datatransceiver.go](https://github.com/peer-calls/peer-calls/blo

[2020-09-18 06:25] jeremija commented on #155
Ah I just realized you edited your message. Closing this issue.

[2020-09-18 06:25] #155 closed

[2020-09-23 10:13] kristiandrucker commented on #130
Hey @dpanyam @dheerajd3v.

Sorry for the late reply, but the past couple months have been very busy for me. I got it to work with GKE 1.16 (Regular Channel) and Istio enabled with Istio Injection and ingress gateway. [Here](https://gist.github.com/kristiandrucker/e3784a862327bb19df67a9f35a96b7de) is the config for the deployment that I use. It does not have any ingress or istio virtualservice conf

[2020-09-23 10:18] dpanyam commented on #130
@kristiandrucker Thanks so much

[2020-09-23 10:27] dpanyam commented on #130
@kristiandrucker I just looked at your config. I don't see any different between yours and the ones present in the deploy folder  from the repo. Did you have to make any GKE networking changes like opening 100 UDP ports or using hostnetwork=false. Also i see you are using the default Google STUN server. Does this scale in production? We intend to have a self hosted  dockerized STUN  server deploye

[2020-09-23 11:44] kristiandrucker commented on #130
@dpanyam so I've checked my firewall and got it setup like this.

**Source IP**: 0.0.0.0/0

**Ports**:
* udp:5000-5200
* udp:6666

[2020-09-23 12:06] ahmetozalp opened #157 "STREAM_ADD Where is this triggered from?"
Hello, where exactly is this triggered? I moved the codes to react native, I have to ask some questions.

reducer case: STREAM_ADD

[2020-09-23 13:06] dpanyam commented on #130
@kristiandrucker  Are those fixed port ranges  that peer calls uses? I have a self hosted STUN server running externally on a GCE VM that listens on 3478 and i have opened that port (implied egress rules apply so for outbound all ports are open)

[2020-09-23 14:19] kristiandrucker commented on #130
@dpanyam about port 6666 I'm not sure, however 5000-5200 I saw that it could be configured via the config, not sure about if that stuff has changed @jeremija?

[2020-09-23 16:36] dpanyam commented on #130
@kristiandrucker Thanks. I will wait to hear from @jeremija. So you got it working from the config files that you linked in your above comment and then the firewall rule, any other settings needed?

[2020-09-24 05:55] kristiandrucker commented on #130
@dpanyam yes, that is correct and I can't think of any other settings. Can run it in both sfu and mesh modes and I've disabled redis because I was having issues with it. Other than that I really don't know

[2020-09-24 06:07] jeremija commented on #157
This constant is not in use anymore - I should remove it. `STREAM_TRACK_ADD` is used instead.

[2020-09-24 06:07] dpanyam commented on #130
@kristiandrucker Thank you

[2020-09-24 06:18] jeremija commented on #130
If you enable [Epheremal UDP ports](https://github.com/peer-calls/peer-calls/blob/master/README.md#epheremal-udp-ports-for-ice) ports and the [ICE TCP port](https://github.com/peer-calls/peer-calls/blob/master/README.md#ice-tcp), most likely you won't need a STUN or a TURN server in 99% cases, except perhaps in the most restrictive firewalls, but those might block the default TURN ports as well.

[2020-09-24 06:28] dpanyam commented on #130
@jeremija  Thank you I will use the settings you mentioned

[2020-09-24 06:51] ahmetozalp commented on #157
Where does add track trigger

[2020-09-24 06:55] jeremija commented on #157
https://github.com/peer-calls/peer-calls/blob/aa4f366282299b817d4281bba0cc96410e78c314/src/client/actions/PeerActions.ts#L109

[2020-09-24 06:58] jeremija commented on #130
The environment variables are described in the [README](https://github.com/peer-calls/peer-calls/blob/master/README.md#environment-variables). I have also linked the sections of the readme mentioning the UDP and TCP ports in my last comment. You can look up the YAML config types definition here: https://github.com/peer-calls/peer-calls/blob/aa4f366282299b817d4281bba0cc96410e78c314/server/configtyp

[2020-09-24 07:15] ahmetozalp commented on #157
Could peker cause this function not enter?

handleTrack()

[2020-09-24 08:13] dpanyam commented on #130
@jeremija  Thanks much. Sorry I should have read the README more closely.

[2020-09-24 09:04] ahmetozalp commented on #157
[code]

[2020-09-24 11:03] ahmetozalp commented on #157
fixed! **dispatch** problem :))))

[2020-09-24 11:03] #157 closed

[2020-09-24 11:45] dpanyam commented on #130
@jeremija  When you say that with ephemeral UDP ports and ICE TCP port you don't need STUN/TURN servers 99% of the time is it a recommended setup for production usecases. In case we wish to deploy a self hosted version of STUN/TURN server would you advise it to be setup as a part of the GKE cluster or host it outside the GKE cluster probably on a Google Compute Engine VM?

[2020-09-24 13:00] dpanyam commented on #130
@kristiandrucker With the GKE setup what type of Ingress did you use? I see the default Cluster IP but that is internal to the cluster.

[2020-09-24 13:52] kristiandrucker commented on #130
@dpanyam I have an HTTPs L7 LB connected to Istio ingress and from there it is a direct connection to peercalls via virtualservice.

[2020-09-24 13:56] dpanyam commented on #130
@kristiandrucker Nice. So you are using the native GCP Ingress? How many micro services are you running in the cluster just the peer calls app? I want to understand  the need for Istio here

[2020-09-24 14:01] kristiandrucker commented on #130
@dpanyam 19 micro services just for the backend then couple other apps

[2020-09-24 14:06] dpanyam commented on #130
@kristiandrucker How many micro services related to peer calls app? I know you are not using REDIS. Are you using a micro service for STUN/TURN service that is part of the cluster or using the default Google servers? From your configs mentioned above it seems to point to the Google servers

[2020-09-24 14:44] kristiandrucker commented on #130
Using Google but may switch to Twillio. As part to how many services are related to peer calls I can't say here and not using Redis because it is still in development and Redis didn't work nicely, but that was a while ago when I tried it. Things may have changed.

[2020-09-24 14:56] dpanyam commented on #130
@kristiandrucker Thanks and appreciate your inputs.

[2020-09-25 10:29] dpanyam commented on #130
I have a STUN server running outside the cluster on a GCE VM and peer calls is of course deployed on a public GKE Cluster. I am getting the error below. I can exec into the POD and I am able to ping the STUN server.

2020-09-25T10:06:00.554142Z [  pion:ice:warn] failed to resolve stun host: stun.communicator.xxx.systems:3478: address stun.communicator.neone.systems: no suitable address found
2020-

[2020-09-25 11:04] jeremija commented on #130
@dpanyam Can you share the `network.sfu` part of your config? Feel free to mask any internal stuff.

[2020-09-25 11:08] jeremija commented on #130
I suspect this can happen when you have only an IPv4 or an IPv6 address set up on the stun server node, and your SFU config defines both UDP4 or UDP6 network types. If you have both network types enabled, you should be able to ignore this message.

[2020-09-25 11:20] dpanyam commented on #130
@jeremija  Thanks for the quick reply . Below is the network.sfu portion
 network:
      type: sfu
      sfu:
        udp:
          # Enable ICE UDP Host candidates
          port_min: 6000
          port_max: 6020
        # Enable ICE TCP Host candidates
        # This should probably be changed to `tcp.port` to keep it consistent with UDP settings above
        tcp_listen_port: 7000

[2020-09-25 11:22] dpanyam commented on #130
I have opened all the ports 6000-6020 and 7000 using the GCP firewall rule

[2020-09-25 11:32] dpanyam commented on #130
FYI   I have  the app deployed on port 443 instead of 3000 and accordingly made changes in config.yaml. So 443 external and also internal

[2020-09-25 11:35] jeremija commented on #130
Try setting the following:

[code]

And see if you still see the warning message? IIRC the default is UDP4 and UDP6.

I'd recommend adding `UDP6` to the list so that other candidate types can be used with IPv6 clients.

[2020-09-25 11:50] dpanyam commented on #130
@jeremija Thanks. It didn't work

[2020-09-25 12:07] dpanyam commented on #130
it works with the Google servers

[2020-09-26 02:23] chrismgonzalez opened #158 "Implementation for native platforms"
Hello @jeremija,

I am looking to get your thoughts on an implementation for Peer-Calls in native environments such as iOS, Android OS, and Windows desktop.

Do you think this is possible without developing a custom SDK.  Peer-Calls suits the project I am working on perfectly, we just need to problem solve a mobile implementation that doesn't use a browser.

Thanks in advance for your thoughts on

[2020-09-26 05:18] dpanyam commented on #130
Interesting I have reverted back ot google and twilio servers but doesn't work with both of them
<img width="1440" alt="Screen Shot 2020-09-26 at 10 38 42 AM" src="https://user-images.githubusercontent.com/11291110/94330879-bf484680-ffe5-11ea-8047-1ba9ec0297db.png">

[2020-09-26 06:02] dpanyam commented on #130
Not accepting any of the network types. Wonder if this has to do with GKE version. I am on GKE 1.16
<img width="542" alt="Screen Shot 2020-09-26 at 11 31 04 AM" src="https://user-images.githubusercontent.com/11291110/94331646-ff122c80-ffeb-11ea-9492-efffe926baa8.png">

[2020-09-26 12:28] jeremija commented on #130
It might have to be lowercase, like `udp4`. Try removing `udp6` and see if that gets rid of the log message

[2020-09-26 13:50] dpanyam commented on #130
@jeremija Thanks appreciate your response. I shall try that. Meanwhile I wanted to let you know that i am using the NGINX Controller and the external port (to end users)  and container port are mapped to 443 (app runs on 3000 but i changed to 443) . I have a self hosted dockerized COTURN server deployed on a GCE VM. Below is my config.yaml. Do you see anything wrong with the configuration?

[confi

[2020-09-28 05:25] dpanyam commented on #130
I found this go tool to test STUN connectivity. It fails with the below error.
![Uploading Screen Shot 2020-09-28 at 10.42.03 AM.png…]()

[2020-09-28 05:28] dpanyam commented on #130
I found this go tool to test STUN connectivity. It fails with the below error.

<img width="657" alt="Screen Shot 2020-09-28 at 10 42 03 AM" src="https://user-images.githubusercontent.com/11291110/94393787-70331a80-0179-11eb-9ae8-814997c33adf.png">

[2020-09-29 09:15] Archer-Thane opened #159 "Is there any control on resolutions on sfu mode?"
Hey there all of great guys of peer-calls!
Excellent work here!

Is there any UI based (or non UI based) solution to force a particular resolution (I mean the least one because of quality of experience)?
Let me explain more. I use sfu and this works great, but we have jitters and change in size of picture and freezes. i thought because we have the connection on the best resolution, we have these p

[2020-09-29 09:29] ahmetozalp opened #160 "How can I use stream instead of track?"
Hello,

I'm passing this project to react native, but I have a little problem, there is no incident to add tracks in react native

"peer.on (PEER_EVENT_TRACK, handler.handleTrack)"

How can I change this line to "stream" instead of "track"?

[2020-09-29 12:12] Archer-Thane opened #161 "stretching and freezing on videos both side"
Thanks for your great work, but I have a little problem.
I checked with your instance at peercalls.com and everything works fine.
But on my instance, there are freezes and stretching on videos.
I use sfu mode, and using coturn with secrect.
I'm using coturn runned with description provided on readme.md.
can anyone help me explain why this happening? ( i record a video to show what's going on here,

[2020-09-29 14:31] dpanyam commented on #130
@jeremija @kristiandrucker Thanks for your inputs I got it working at last :)  @jeremija  You mentioned that in 99% of the cases STUN/TURN is not needed but with most restrictive firewalls . How about self hosted and what would you recommend - running as a daemonset or external to the cluster on a separate GCE VM for example?

[2020-09-29 15:02] kristiandrucker commented on #130
@dpanyam me personally I would run both Peercalls and STUN as a Daemonset and wouldn't replicate Peercalls through a Deployment just because of the CPU usage. May be better to have a single big instance on each machine than multiple small instances.

[2020-09-29 15:19] dpanyam commented on #130
@kristiandrucker So you would not recommend something like Horizontal Pod Autoscaler(HPA) , Vertical POD Autoscaler (VPA)  ,cluster autoscaler?

[2020-09-29 16:56] dpanyam commented on #130
@jeremija @kristiandrucker Looks like it is not over yet very much inconsistent sometimes audio/video calling doesn't work. I see this REDIS error. Is it a better option to use managed REDIS in GCP called memorystore versus self hosted REDIS?
<img width="1436" alt="Screen Shot 2020-09-29 at 10 23 44 PM" src="https://user-images.githubusercontent.com/11291110/94589379-d23b6f00-02a2-11eb-855f-b1889f

[2020-09-29 17:49] kristiandrucker commented on #130
@dpanyam try putting changes from this PR https://github.com/peer-calls/peer-calls/pull/138 to your Peercalls and deploying redis sentinel. I had better experience with it rather than plain redis

[2020-09-29 17:51] dpanyam commented on #130
@kristiandrucker Thanks I shall look into it.

[2020-09-30 03:49] dpanyam commented on #130
@kristiandrucker I believe there would be changes on the deployment side also (in configmap.yaml  and in redis-deployment.yaml to pull the redis-sentinel image instead of redis one) ?

[2020-09-30 13:16] kristiandrucker commented on #130
@dpanyam I've deployed redis sentinel using the bitnami chart https://bitnami.com/stack/redis-sentinel

[2020-09-30 13:21] Archer-Thane commented on #161
can anyone help on the problem here?
Also, if there is any config.yml file for the peercalls.com, I appreciate sharing it.
I don't know whether the problem is in my config file (which I don't think is), or from the server and network provider, or from ISP. this lag should resolve soon.

[2020-09-30 13:47] dpanyam commented on #130
@kristainducker Thank You. Is it part of the same gke cluster that runs peer calls app? I am planning to use a separate node pool for the REDIS Sentinel cluster

[2020-09-30 14:22] kristiandrucker commented on #130
@dpanyam I had it on same cluster, but separate node pool shouldn't make any difference

[2020-09-30 14:27] dheerajd3v commented on #130
Thank you

On Wed, 30 Sep 2020 at 7:53 PM, Kristian Drucker <notifications@github.com>
wrote:

Dheeraj Panyam
Google Cloud Architect
D3V Technology Solutions <https://www.d3vtech.com/>
Linkedin <https://www.linkedin.com/company/d3vtech/> | Twitter
<https://twitter.com/d3vtechofficial> | Facebook
<https://www.facebook.com/d3vtech>
<https://cloud.withgoogle.com/partners/detail/?id=d3v-technology-sol

[2020-09-30 15:58] dpanyam commented on #130
@kristiandrucker  Is there an extra name that i have to pass in configmap. Is the below format for Redis Sentinel correct?
 store:
      type: redis
       redis:
         host: redis
         port: 6379
         prefix: peercalls
         name: redissentinel

[2020-10-01 06:04] #160 closed

[2020-10-01 09:01] johntruongsuarez opened #162 "Open Chatroom automatically"
Dear Team,

i'm a big fan of your application. We are builiding an queuing-system around your App.

Is there a possibility to change the App in the way that it opens chatrooms with a browser request.
For example if there is the request: https://peercalls.com/call/123
And the channel isn't already existing, it should be opened automaticly by the app.

Could you give me a hind how to make it? That w

[2020-10-01 10:46] dpanyam commented on #130
@kristiandrucker @jeremija  I observed something interesting that is contrary to your comments. I am using ephemeral UDP ports 6000-6020 and TCP 7000 and as @kristiandrucker  mentioned i allowed them via firewall rules in GCP. It didn't work but  when i remove the firewall rules app worked.

[2020-10-01 10:47] dpanyam commented on #130
@kristiandrucker  I applied PR #138 how do i modify the redis section of config.yaml. I have it like this ( ignore the indentation)

store:
      type: sentinel
      sentinel:
        host: localhost
        address: redis-headless
        name: redis
        port: 6379
        prefix: peercalls

[2020-10-01 11:25] kristiandrucker commented on #130
@dpanyam change redis sentinel address to`redis-headless:26379` and remove host and port. Should work

[2020-10-01 11:34] dpanyam commented on #130
@kristiandrucker Thanks.  Didn't work. From the app perspective status shows `dialling`
<img width="276" alt="Screen Shot 2020-10-01 at 5 02 08 PM" src="https://user-images.githubusercontent.com/11291110/94804216-16944f80-0408-11eb-9f1d-9f5955c9bffa.png">
<img width="461" alt="Screen Shot 2020-10-01 at 5 01 47 PM" src="https://user-images.githubusercontent.com/11291110/94804221-185e1300-0408-11eb-

[2020-10-01 11:50] dpanyam commented on #130
Not working yet. Looks like it is failing at signalling stage - error is `dial time out`.
![Uploading Screen Shot 2020-10-01 at 5.19.48 PM.png…]()

[2020-10-01 11:51] dpanyam commented on #130
Not working yet. Looks like it is failing at signalling stage - error is dial time out.
<img width="1438" alt="Screen Shot 2020-10-01 at 5 19 48 PM" src="https://user-images.githubusercontent.com/11291110/94805795-8f94a680-040a-11eb-807c-bfd1577cc9ce.png">

[2020-10-01 12:19] Archer-Thane commented on #161
So what i've done so far is:
1- I've turned off my turn server. Tested without any turnserver, and with public google's stun server. both these isssue remains.
2- I've checked out my turn server logs in verbose mode with 'turnserver -v' command, checking connections. both clients with different sessions showing lifetime is ended. since I cannot run coturn as a ubuntu daemon, I use this command. I

[2020-10-01 12:29] kristiandrucker commented on #130
@dpanyam as far as I know, sentinel auto elects masters, that's why you use the high port which talks to sentinel and while setting master group in name.

[2020-10-01 12:32] Archer-Thane commented on #162
you can add a little code to the react app (front end) and call will execute automatically.
What I've done is that I make a random nickname, assign it as nickname, set it inside the store, and after 5 seconds, I call this.handleSubmit() function which makes the call.
the code is (inside src/client/components/Media.tsx):
`const randomNick = Math.random().toString(36).substring(2, 15) + Math.random(

[2020-10-01 12:38] dpanyam commented on #130
I have tested redis for replication etc  using redis cli and redis setup seems fine. I think the issue is with the parameters to be passed in config.yaml

[2020-10-01 12:43] kristiandrucker commented on #130
@dpanyam are you sure you got the name right, so it's set as the `sentinel.masterSet` value from https://hub.helm.sh/charts/bitnami/redis chart?

[2020-10-01 12:56] dpanyam commented on #130
@kristiandrucker Thanks i used the default setting which is mymaster and i changed it to this name in config.yaml still doesn't work.  I followed the steps in this link https://docs.bitnami.com/tutorials/deploy-redis-sentinel-production-cluster/

[2020-10-01 13:02] kristiandrucker commented on #130
@dpanyam sorry, then I have no other idea except that is it running the branch I put in the pr?

[2020-10-01 13:05] dpanyam commented on #130
@kristiandrucker I am not running that branch. I took the latest master and then incorporated your changes to the 3-4 files you mentioned in the PR

[2020-10-01 14:53] dpanyam commented on #130
Any GCP firewall rule to allow port 26379 ( Redis Sentinel port) ?

[2020-10-01 18:07] dpanyam commented on #130
@kristiandrucker Is the Redis Sentinel supposed to work the passwordless way? I realised that i setup password for Redis should i disable this in values.yaml for the REDIS helm installation and redploy the chart ?

[2020-10-02 04:48] dpanyam commented on #130
@kristiandrucker Couple of observations from my side. As per bitnami docs https://docs.bitnami.com/tutorials/deploy-redis-sentinel-production-cluster/ there is a missing master redis pod i can only see 3 redis slave pods. Also in the sentinel logs i see this error `Could not connect to Redis at redis-headless.default.svc.cluster.local:26379: Name or service not known`. I have also disabled network

[2020-10-02 06:18] kristiandrucker commented on #130
@dpanyam this is what I get. So it seems like master is there and as for password, try out passwordless, but passwords have to work.
[code]

[2020-10-02 06:38] dpanyam commented on #130
@kristiandrucker  Thanks I will try passwordless. I deployed REDIS in the default namespace not a custom one should not matter i guess. If i were to use password how can i pass REDIS username and REDIS password in config.yaml?

[2020-10-02 06:44] kristiandrucker commented on #130
@dpanyam have a look at https://github.com/peer-calls/peer-calls/pull/138/files#diff-491b3fa3abc2ce9346ba790ae5ae06daR42. Connect options are set in that struct.

[2020-10-02 07:38] dpanyam commented on #130
@kristiandrucker I can username and password options for ICEServer but not for REDIS. Anyway i redeployed REDIS with the passwordless options no luck yet.

store:
      type: sentinel
      sentinel:
        address: redis-headless:23679
        name: mymaster
        prefix: peercalls

[2020-10-02 08:00] dpanyam commented on #130
@kristiandrucker @jeremija Wonder why it seems to be failing in the signalling stage with REDIS. No issues with store type
<img width="263" alt="Screen Shot 2020-10-02 at 1 28 50 PM" src="https://user-images.githubusercontent.com/11291110/94900889-6845e400-04b3-11eb-93be-5998972db671.png">
memory